.accordionContainer {
    margin-top: 1rem;
}

.headerLabel {
    font-weight: 600;
    font-size: 1rem;
    color: #1f2937;
}

.panelWrapper {
    margin-bottom: 10px;
    background: #fefefe;
    border-radius: 10px !important;
    border: none !important;
    box-shadow: 5px 10px 30px 0px rgba(0, 0, 0, 0.05);
    overflow: hidden;

    :global(.ant-collapse-header) {
        padding: 12px 16px !important;
    }
}

.custom_expand_icon {
    width: 30px;
    height: 30px;
    transition: transform 0.3s ease;

    &.active {
        transform: rotate(45deg);
    }

    @media (max-width: 768px) {
        width: 24px;
        height: 24px;
    }
}


.customCollapse {
    background: transparent !important;
    border: none !important;

    :global(.ant-collapse-content-box) {
        padding: 0 !important;
    }
}