@import '/scss//utils/variable';

.catalogCard {
    background: #fefefe;
    border: 1px solid #f0f0f0;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.05);
    border-radius: 25px;
    width: 100%;
    padding: 16px;
    gap: 15px;
    height: 100%;
    transition: all 0.3s ease;

    cursor: pointer;
    display: flex;
    flex-direction: column;
    .cardTile {
        font-size: 24px;
        color: $textColor;
        margin: 0;
        padding: 0;
        flex: 1;

        @media (max-width: 1200px) {
            font-size: 20px;
        }
        @media (max-width: 768px) {
            font-size: 18px;
        }
        @media (max-width: 576px) {
            font-size: 14px;
        }
    }
    .cardSubTitle {
        color: $subTextColor;
        font-size: 16px;
        margin: 0;
        @media (max-width: 1200px) {
            font-size: 14px;
        }
        @media (max-width: 768px) {
            font-size: 12px;
        }
        @media (max-width: 576px) {
            font-size: 10px;
        }
    }
    @media (max-width: 992px) {
        padding: 12px;
        height: 300px;
        gap: 9px;
    }
    @media (max-width: 992px) {
        padding: 12px;
        height: 270px;
        gap: 7px;
    }

    @media (max-width: 576px) {
        padding: 10px;
        height: 230px;
        gap: 5px;
    }
    @media (max-width: 480px) {
        height: 250px;
        gap: 5px;
    }
}
.catalogCard:hover {
    box-shadow: 0px 8px 20px rgba(0, 0, 0, 0.1);
    transform: translateY(-5px);
}
.cardIcon {
    width: 67px;
    height: 67px;
    border-radius: 50%;
    background-color: $color-gray;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    @media (max-width: 992px) {
        width: 34px;
        height: 34px;
        padding: 4px;
    }
}
.cardLabel {
    font-weight: 600;
    font-size: 24px;
    color: $textColor;
    margin: 0;
    @media (max-width: 992px) {
        font-size: 20px;
    }
    @media (max-width: 756px) {
        font-size: 12px;
    }
}
.cardDesc {
    font-weight: 400;
    font-size: 16px;
    margin: 0;
    color: $subTextColor;
    @media (max-width: 992px) {
        font-size: 12px;
    }
    @media (max-width: 756px) {
        font-size: 10px;
    }
}
.cardImage {
    flex: 1;
}
.cardImageBlock {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 9px;
    justify-content: center;
    .cardBlockLeft {
        width: 50%;
        flex: 1;
        height: 235px;
        border-radius: 10px;
        position: relative;
        // border: 1px solid #e6e6e6;
        @media (max-width: 992px) {
            height: 185px;
        }
        @media (max-width: 756px) {
            height: 165px;
        }
    }
    .cardBlockRight {
        flex: 1;
        height: 100%;
        display: flex;
        height: 235px;
        flex-direction: column;
        gap: 9px;
        @media (max-width: 992px) {
            height: 195px;
        }
        @media (max-width: 756px) {
            height: 165px;
        }
        .cardBlockRightTop {
            flex: 1;
            display: flex;
            flex-direction: row;
            gap: 9px;
            height: 113px;
        }
        .cardBlockRightBottom {
            flex: 1;
            border-radius: 10px;
            // border: 1px solid #e6e6e6;
            height: 113px;
            position: relative;
            overflow: hidden;
        }
    }
    img {
        border: 1px solid #3e3e3e;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}
