@import '/scss/utils/variable';
@import '/scss/utils/mixin';

.topFreelanceRankings {
    .swiperContainer {
        display: flex;
        align-items: center;
        gap: 10px;

        .categorySwiperBeginning::before {
            content: '';
            position: absolute;
            left: 0;
            top: 0;
            width: 60px;
            height: 100%;
            z-index: 11;
            background: linear-gradient(
                to left,
                rgba(241, 243, 255, 0.05),
                rgb(255, 255, 255) 80%
            );
        }

        .categorySwiperEnding::after {
            content: '';
            position: absolute;
            right: 0;
            top: 0;
            width: 60px;
            height: 100%;
            z-index: 11;
            background: linear-gradient(
                to right,
                rgba(241, 243, 255, 0.05),
                rgb(255, 255, 255) 80%
            );
        }

        .categoryButton {
            font-size: 16px !important;
            font-weight: 400 !important;
            color: $subTextColor !important;
            padding: 0px 15px !important;
            border: 1px solid $color-1st;

            svg {
                color: $color-1st !important;
                font-size: 20px;

                g {
                    fill: $color-1st !important;
                    path {
                        stroke: $color-1st !important;
                        fill: $color-1st !important;
                    }
                }

                path {
                    stroke: $color-1st !important;
                }
            }
        }

        .categoryButton--ordinary {
            @extend .categoryButton;
            &:hover {
                background-color: #00a44fb6 !important;
                color: #fff !important;

                svg {
                    color: #fff !important;

                    g {
                        fill: #fff !important;
                        path {
                            stroke: #fff !important;
                            fill: #fff !important;
                        }
                    }

                    path {
                        stroke: #fff !important;
                    }
                }
            }
        }

        .categoryButton--selected {
            background-color: $color-1st !important;
            color: #fff !important;

            svg {
                font-size: 20px;

                g {
                    fill: #fff !important;
                    path {
                        stroke: #fff !important;
                        fill: #fff !important;
                    }
                }

                path {
                    stroke: #fff !important;
                }
            }
        }

        .swipe_btn {
            display: flex;
            align-items: center;
            justify-content: center;

            svg {
                position: relative;
            }
        }

        .swipeNext {
            transform: rotate(180deg);
            @extend .swipe_btn;
        }
    }

    .card {
        background: #00a44f;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;
        min-height: 200px;
        flex-direction: column;
        gap: 10px;
        padding: 20px;
        border-radius: 10px;

        .btn {
            background: #fefefe;
            color: #24282b;
            line-height: 26px;
            font-size: 14px;
            border-radius: 10px;
            border: #fefefe solid 2px;
            transition: all 0.3s ease-out;

            &:hover {
                color: #fefefe;
                background: #00a44f;
            }
        }

        .title {
            margin: 0;
            text-align: center;
            color: #fefefe;
            font-size: 20px;
            line-height: 30px;
            font-weight: 600;
        }
    }
}

.freelance_section {
    border-radius: 24px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    padding-top: 80px;
    padding-bottom: 54px;

    .freelance_text {
        .titleWrapper {
            display: flex;
            flex-direction: column; // h1 bilan img orasidagi masofa
            .labelWrapperH1 {
                font-size: 32px;
                font-weight: 600;
                color: #24282b;
                margin-bottom: 1rem;
                line-height: 1.3;
            }
            .labelWrapperP {
                font-size: 20px;
                line-height: 1.6;
                color: #706f6f;
                margin-bottom: 0;
            }
        }

        .badge {
            width: 30px; // kerakli o‘lcham
            height: 30px;
            object-fit: contain;

            @media (max-width: 700px) {
                display: none;
            }
        }
    }

    .freelance_button {
        @include link-button-style();
    }

    /* Tablet (≤992px) */
    @media (max-width: 992px) {
        flex-direction: column;
        text-align: center;
        gap: 15px;

        .freelance_text {
            max-width: 100%;
        }

        // .freelance_button {
        //     width: 100%;
        //     max-width: 320px;
        // }
    }
    @media (max-width: 768px) {
        flex-direction: column;
        text-align: center;
        gap: 24px;
        padding-top: 30px 20px;
        .freelance_text {
            max-width: 100%;
            .titleWrapper {
                .labelWrapperH1 {
                    font-size: 28px !important;
                }
                .labelWrapperP {
                    font-size: 14px !important;
                }
            }
        }

        // .freelance_button {
        //     width: 100% !important;
        //     font-size: 16px;
        //     display: block;
        //     padding: 6px 9px;
        //     img {
        //         margin-left: 10px;
        //         height: 10px;
        //         width: 50px;
        //     }
        // }
    }

    /* Mobile (≤576px) */
    @media (max-width: 576px) {
        gap: 10px;
        .freelance_text {
            max-width: 100%;
            .titleWrapper {
                .labelWrapperH1 {
                    font-size: 24px !important;
                }
                .labelWrapperP {
                    font-size: 14px !important;
                }
            }
        }
    }
}

.serviceCardSection {
    display: grid;
    grid-template-columns: repeat(4, 1fr); /* <= 480px: 1 ta */
    gap: 10px;
    @media (max-width: 856px) {
        grid-template-columns: repeat(2, 1fr); /* >= 992px: 4 ta */
        gap: 10px;
    }

    @media (max-width: 568px) {
        gap: 5px;
    }
}
