.wrapper {
    width: 100%;
    background-color: #fff;
    box-shadow: 0 4px 12px rgba(126, 126, 126, 0.1);

    @media (max-width: 768px) {
        padding: 0;
        z-index: 1010;
    }
}

.productContainer {
    padding: 10px;
    background-color: #ffffff;
    border-radius: 0 0 12px 12px;

    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 6px;

    @media (max-width: 768px) {
        position: fixed;
        bottom: 0;
        height: 70px;
        left: 50%;
        transform: translateX(-50%);
        z-index: 1010;
        width: 100%;
        // max-width: 480px;
        padding: 12px 16px;
        border-radius: 12px 12px 0 0;
    }
}

.productInfo {
    width: 80%;
    display: flex;
    align-items: center;
    gap: 12px;
}

.productImage {
    width: 40px;
    height: 40px;
    border-radius: 6px;
    object-fit: cover;
    border: 1px solid #ccc;
}

.productTitle {
    font-size: 16px;
    white-space: nowrap;
    line-clamp: 1;
    overflow: hidden;
    text-overflow: ellipsis;
    margin: 0;
    min-width: 100px;
}

.downloadBtn {
    padding: 8px 18px;
    font-size: 14px;
    background-color: #00a44f;
    white-space: nowrap;
    color: #fff !important;
    border: none;
    border-radius: 5px;
    text-align: center;
    cursor: pointer;
    transition: background-color 0.3s ease;

    &:hover {
        background-color: #05cc0c;
    }
}

.closeBtn {
    font-size: 20px;
}

@media (max-width: 480px) {
    .productInfo {
        width: 50%;
    }
    .downloadBtn {
        padding: 6px 14px;
        font-size: 12px;
        width: 100%;
    }

    .closeBtn {
        padding: 15px 8px;
        font-size: 16px;
    }
}

@media (min-width: 481px) and (max-width: 768px) {
    .productInfo {
        width: 65%;
    }
    .downloadBtn {
        padding: 7px 16px;
        font-size: 13px;
    }

    .closeBtn {
        padding: 17px 10px;
        font-size: 18px;
    }
}

@media (min-width: 769px) {
    .productInfo {
        width: 75%;
    }

    .downloadBtn {
        padding: 10px 22px;
        font-size: 15px;
    }

    .closeBtn {
        padding: 21px 10px;
    }
}
