@import '/scss/utils/variable';
@import '/scss/utils/mixin';

.radioMenu {
    width: 300px;
    height: fit-content;
    position: relative;
    background-color: #ffffff !important;
    padding: 15px !important;
    border-radius: 10px !important;
    border: 1px solid #d9d9d9 !important;
    transition: all 0.3s ease;
    flex: 1;

    display: none;

    &.visible {
        opacity: 1;
        display: block;
    }
}

.filterGroup {
    margin-bottom: 14px;
}
