@import '/scss/utils/variable';


.card {
    border: 1px solid #ccc;
    padding: 24px 16px;
    cursor: pointer;
    background: #fff;
    position: relative;
    height: 100%;
    display: flex;
    flex-direction: column;
    flex: 1;

    @media (max-width: 1200px) {
        padding: 20px 14px;
    }

    @media (max-width: 768px) {
        padding: 18px 12px;
    }
    .bannerBg {
        position: relative;
        overflow: hidden;

        &::after {
            content: '';
            position: absolute;
            inset: 0;
            z-index: 1;
            backdrop-filter: blur(12px);
            -webkit-backdrop-filter: blur(12px);
            pointer-events: none;
        }
        .image {
            position: relative;
            z-index: 10;
            aspect-ratio: 1 / 1 !important;
            width: fit-content;
            // height: 260px;
            object-fit: contain;
            /* rasm sig‘ishi uchun */
        }
    }

    .title {
        height: 40px !important;
        flex: 1;
        span {
            font-size: 16px;
            font-weight: 500;
            color: $textColor;
            flex: 1;
            display: -webkit-box;
            -webkit-line-clamp: 2;
            -webkit-box-orient: vertical;
            overflow: hidden;
            text-overflow: ellipsis;

            @media (max-width: 1200px) {
                font-size: 14px;
            }

            @media (max-width: 768px) {
                font-size: 12px;
            }
        }
    }

    .footer {
        display: flex;
        align-items: center;
        gap: 8px;
        padding-top: 24px;

        .avatar {
            width: 56px;
            height: 56px;
            border: 1px solid #ccc;
            border-radius: 50%;
            background: #ddd;

            @media (max-width: 1440px) {
                width: 46px;
                height: 46px;
            }

            @media (max-width: 678px) {
                width: 36px;
                height: 36px;
            }

            @media (max-width: 576px) {
                width: 32px;
                height: 32px;
            }
        }

        .info {
            display: flex;
            flex-direction: column;
            flex: 1;
            overflow: hidden;

            .author {
                font-size: 16px;
                color: #333;
                display: -webkit-box;
                -webkit-line-clamp: 1;
                overflow: hidden !important;
                -webkit-box-orient: vertical;
                text-overflow: clip;
                flex: 1;
                margin: 0;
                &:hover{
                    color: #00a651;
                }

                @media (max-width: 1440px) {
                    font-size: 14px;
                }

                @media (max-width: 576px) {
                    font-size: 10px;
                }

                @media (max-width: 420px) {
                    font-size: 8px;
                }
            }

            .price {
                font-size: 16px;
                font-weight: 600;
                color: #00a651;
                margin: 0;

                @media (max-width: 1440px) {
                    font-size: 14px;
                }

                @media (max-width: 576px) {
                    font-size: 10px;
                }
            }
        }

        @media (max-width: 1440px) {
            font-size: 16px;
        }

        @media (max-width: 576px) {
            padding-top: 14px;
        }
    }
}
