.faq {
    background-color: white;
    padding: 60px 0;
}

.faqInner {
    max-width: 800px;
    margin: 0 auto;
}

.faqTitle {
    font-size: 32px;
    text-align: center;
    margin-bottom: 30px;
    font-weight: 500;
}

.faqList {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.faqItem {
    border-radius: 30px;
    padding: 25px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    cursor: pointer;
    box-shadow: rgba(76, 175, 79, 0.1) 0px 4px 16px,
        rgba(17, 17, 26, 0.05) 0px 8px 32px;
}

.faqAccordionHeader {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.faqAccordionTitle {
    font-weight: 500;
}

.faqContent {
    display: none;
}

.faqContentActive {
    display: block;
}

/* Responsive */
@media only screen and (max-width: 576px) {
    .faq {
        padding: 30px 0;
    }

    .faqTitle {
        font-size: 22px;
        margin-bottom: 20px;
    }

    .faqItem {
        padding: 20px;
    }

    .faqAccordionTitle {
        font-size: 16px;
    }
}