.wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 16px;
    padding: 20px;
    margin-top: -100px;

    @media (max-width: 1199px) {
        margin-top: -80px;
        gap: 14px;
        padding: 16px;
    }

    @media (max-width: 991px) {
        grid-template-columns: 1fr 1fr;
        margin-top: -80px;
        gap: 12px;
        padding: 16px;
    }

    @media (max-width: 575px) {
        grid-template-columns: 1fr;
        margin-top: 0;
        gap: 12px;
        padding: 10px;
    }
}

.card {
    position: relative; /* kerak */
    padding: 70px 20px;
    gap: 40px;
    border-radius: 25px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    background-size: cover;
    background-position: center;
    overflow: hidden; /* chiqib ketmasligi uchun */

    @media (max-width: 1199px) {
        padding: 25px;
        gap: 36px;
    }

    @media (max-width: 991px) {
        padding: 22px;
        gap: 32px;
    }

    @media (max-width: 767px) {
        padding: 18px;
        gap: 28px;
    }

    @media (max-width: 575px) {
        padding: 16px;
        gap: 20px;
    }
    .backdrop {
        position: absolute;
        width: 100%;
        left: 0;
        z-index: 0;
        top: 0;
        height: 100%;
        background: #1c1c1cc3;
    }
}

.title {
    color: #fefefe;
    font-size: 30px;
    font-weight: 600;
    margin: 0;
    text-align: center;

    @media (max-width: 1199px) {
        font-size: 28px;
    }

    @media (max-width: 991px) {
        font-size: 26px;
    }

    @media (max-width: 767px) {
        font-size: 24px;
    }

    @media (max-width: 575px) {
        font-size: 20px;
    }
}

.actions {
    display: flex;
    justify-content: center;
    width: 100%;
}

.btn {
    background: #fefefe;
    color: #000;
    border: none;
    font-weight: 600;
    position: relative;
    z-index: 1;
    font-size: 20px;
    border-radius: 50px;
    padding: 10px 30px;
    cursor: pointer;
    transition: all 0.3s ease;

    &:hover {
        background: #e0e0e0;
    }

    @media (max-width: 991px) {
        font-size: 18px;
        padding: 9px 28px;
    }

    @media (max-width: 767px) {
        font-size: 16px;
        padding: 8px 24px;
    }

    @media (max-width: 575px) {
        font-size: 16px;
        padding: 8px 20px;
        height: 40px;
    }
}
