@import '/scss/utils/variable';

.navSectionBlock {
    border-top: 1px solid $paragraphColor;
    border-bottom: 1px solid $paragraphColor;

    .navbarWrapper {
        display: flex;
        gap: 10px;
    }

    ul {
        li {
            font-size: 16px !important;
            font-weight: 400 !important;
            color: $subTextColor !important;
            padding: 0px 15px !important;

            &:hover::after {
                border-bottom-color: $color-1st !important;
                border-bottom-width: 2px !important;
            }
        }
    }

    @media (max-width: 992px) {
        display: none;
    }
}  