.wrapper {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-top: 81px;
    .subtitle {
        font-weight: 600;
        font-size: 36px;
        line-height: 100%;
        letter-spacing: 0%;
        color: #fefefe;

        @media (max-width: 992px) {
            font-size: 28px;
        }
        @media (max-width: 576px) {
            font-size: 22px;
        }
    }

    img {
        width: 30px;
        height: 30px;
        margin-bottom: 48px;
    }

    .title {
        font-weight: 600;
        font-size: 80px;
        line-height: 100%;
        letter-spacing: 0%;
        color: #fefefe;
        margin-bottom: 150px;

        @media (max-width: 992px) {
            font-size: 64px;
            margin-bottom: 100px;
        }
        @media (max-width: 576px) {
            font-size: 32px;
            margin-bottom: 50px;
        }
    }
}
