@import '/scss/utils/variable';
@import '/scss/utils/mixin';

.serviceOrderModalContainer {
    padding: 20px 15px !important;
}

.serviceOrderModal {
    background: #fff;
    border-radius: 10px !important;

    .servicePreOrder {
        padding: 30px;

        .title {
            font-family: 'Poppins';
            font-weight: 600;
            font-size: 25px;
            line-height: 37.5px;
            letter-spacing: 0%;
            text-align: center;
            margin-bottom: 16px;

            @media (max-width: 1024px) {
                padding: 0 !important;
                font-size: 20px;
                line-height: 30.5px;
            }

            @media (max-width: 425px) {
                font-size: 18px;
                line-height: normal;
                padding: 0 10px;
            }
        }

        .securityMessage {
            font-family: 'Poppins';
            font-weight: 400;
            font-size: 15px;
            line-height: 28.5px;
            letter-spacing: 2%;
            margin-bottom: 16px;
            text-align: center;

            @media (min-width: 768px) and (max-width: 1024px) {
                font-size: 12px;
                line-height: 20.5px;
                margin: 10px 0 20px;
            }

            @media (max-width: 576px) {
                padding: 0 10px;
            }
        }

        @media (max-width: 576px) {
            padding: 35px 0px;
        }
    }

    .orderPayment {
        padding: 30px;
        .orderPaymentHeader {
            display: flex;
            justify-content: space-between;
            align-items: center;
            width: 100%;

            .orderButton {
                border-radius: 5px;
                font-family: 'Poppins';
                font-weight: 500;
                font-size: 14px;
                line-height: 21px;

                padding: 8px 16px;
                border: none;
                cursor: pointer;
            }

            .orderButtonInactive {
                @extend .orderButton;
                background: #fff1f0;
                border: 1px solid #ffa39e;
            }

            .orderButtonActive {
                @extend .orderButton;
                background: #f6ffed;
                border: 1px solid #b7eb8f;
            }

            .orderButtonWarn {
                @extend .orderButton;
                background: #fffbe6;
                border: 1px solid #ffe58f;
            }
        }

        @media (max-width: 576px) {
            padding: 0px;
            .orderPaymentHeader {
                margin-top: 30px;
                .orderButton,
                .backButton {
                    font-size: 12px;
                    padding: 5px 10px;
                }
            }
        }
    }
}
