// catalogCard style
@import '/scss//utils/variable';

.catalogCard {
    background: #fefefe;
    border: 1px solid #f0f0f0;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.05);
    border-radius: 25px;
    width: 100%;
    padding: 16px;
    gap: 15px;
    cursor: pointer;
    display: flex;
    flex-direction: column;

    @media (max-width: 1199px) {
        padding: 14px;
    }

    @media (max-width: 992px) {
        padding: 12px;
    }

    @media (max-width: 576px) {
        padding: 10px;
    }

    transition: all 0.3s ease;
    &:hover {
        box-shadow: 0px 6px 15px rgba(255, 255, 255, 0.2);
        transform: translateY(-5px);
    }
}

.cardIcon {
    width: 67px;
    height: 67px;
    border-radius: 50%;
    background-color: $color-gray;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;

    @media (max-width: 992px) {
        width: 34px;
        height: 34px;
        padding: 4px;
    }
}

.cardLabel {
    font-weight: 600;
    font-size: 24px;
    color: $textColor;
    margin: 0;

    @media (max-width: 992px) {
        font-size: 20px;
    }

    @media (max-width: 756px) {
        font-size: 16px;
    }
}

.cardDesc {
    font-weight: 400;
    font-size: 16px;
    margin: 0;
    text-align: start;
    color: $subTextColor;

    @media (max-width: 992px) {
        font-size: 12px;
    }

    @media (max-width: 756px) {
        font-size: 10px;
    }
}

.cardImage {
    flex: 1;
}

.cardImageBlock {
    flex: 1;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 9px;
    justify-content: center;

    .cardBlockLeft {
        width: 34%;
        height: 100%;
        border-radius: 10px;
        position: relative;
        border: 1px solid #e6e6e6;
    }

    .cardBlockRight {
        flex: 1;
        height: 100%;
        display: flex;
        flex-direction: column;
        gap: 9px;

        .cardBlockRightTop {
            flex: 1;
            display: flex;
            flex-direction: row;
            gap: 9px;

            .cardBlockRightTopLeft {
                flex: 1;
                border-radius: 10px;
                border: 1px solid #e6e6e6;
            }

            .cardBlockRightTopRight {
                flex: 1;
                height: 150px;
                border-radius: 10px;
                border: 1px solid #e6e6e6;

                @media (max-width: 576px) {
                    height: 100px;
                }
            }
        }

        .cardBlockRightBottom {
            flex: 1;
            border-radius: 10px;
            border: 1px solid #e6e6e6;
        }
    }

    img {
        border: 1px solid #3e3e3e;
        width: 100%;
        height: max-content;
        object-fit: cover;
    }
}
