.messageRow {
    display: flex;
    align-items: flex-end;
    gap: 8px;
    margin-bottom: 8px;

    .avatar {
        width: 32px;
        height: 32px;
        border-radius: 50%;
        object-fit: cover;
    }
}

.myRow {
    justify-content: flex-end;
}

.otherRow {
    justify-content: flex-start;
}

.chat_message {
    position: relative;
    padding: 4px 14px;
    border-radius: 6px;
    max-width: 70%;
    height: auto;
    font-size: 14px;
    transition: background 0.2s ease;
    word-break: break-word;
    white-space: pre-wrap;

    .moreWrapper {
        position: absolute;
        top: 4px;
        opacity: 0;
        transition: opacity 0.2s ease;
        z-index: 10;
    }

    .moreIcon {
        font-size: 20px;
        cursor: pointer;
        color: #00a44f;
        transition: color 0.2s ease;
        rotate: 90deg;
        font-weight: 700;

        &:hover {
            color: rgba(0, 0, 0, 0.75);
        }
    }

    &:hover .moreWrapper {
        opacity: 1;
    }
}

.my_message {
    background-color: #00a44f;
    color: white;
    align-self: flex-end;
}

.other_message {
    background-color: #e6e6e6;
    align-self: flex-start;
}

.chat_file_box {
    display: flex;
    align-items: center;
    gap: 10px;
    width: 100%;
    margin-top: 5px;
}

.chat_file_info {
    display: flex;
    flex-direction: column;
}

.chat_file {
    font-size: 20px;
    border: solid 1px #fff;
    border-radius: 50%;
    padding: 6px;
    cursor: pointer;
    color: #00a44f;
    background: white;
    transition: all 0.25s ease;

    &:hover {
        transform: scale(1.1);
    }

    &:active {
        transform: scale(0.95);
    }
}
