.searchBox {
    border: 1px solid #00a44f;
    border-radius: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2px;
    width: 100%;
    background-color: #fff;
    max-width: 600px;
    position: relative;
    z-index: 10;
    margin-bottom: 10px;

    .input {
        font-size: 15px;
        outline: none;
        border: none;
        background-color: #fff !important;
        width: 100%;
        // margin-left: 9px;
        // margin-top: 5px;
        z-index: 3;
    }

    .select {
        min-width: 140px !important;
        border-right: 1px solid #eaeaea;
    }

    .searchIcon {
        font-size: 18px;
        background: #00a44f;
        cursor: pointer;
        position: relative;
        z-index: 10;
        color: white;
        border-radius: 50%;
        padding: 5px;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    input {
        outline: none !important;
        z-index: 3;

        &::placeholder {
            color: #24282b;
        }
    }
}

.searchModalContent {
    padding: 20px 15px !important;
}

.searchBoxMobile {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-bottom: 20px;

    .input {
        height: 35px;

        .inputIconPrefix {
            padding-inline: 8px;
            color: #888;
        }
    }
}
