.headline {
    font-size: 64px;
    color: #24282b;
    margin: 40px 0px;
    font-weight: 600;
    position: relative;

    @media (max-width: 1200px) {
        font-size: 48px;
    }

    @media (max-width: 992px) {
        font-size: 40px;
        margin: 10px 0;
    }

    @media (max-width: 768px) {
        font-size: 32px;
        margin: 0;
    }

    @media (max-width: 576px) {
        font-size: 24px;
    }
}


.headlineWrapper {
    position: relative;
    text-align: center;
    &::after {
        content: '';
        position: absolute;
        width: 150px;
        height: 150px;
        border-radius: 50%;
        left: 200px;
        top: 100px;

        background-image: radial-gradient(
            circle,
            #018f45 0%,
            #038843 40%,
            white 100%
        );

        filter: blur(200px);
        opacity: 0.7;

        @media (max-width: 400px) {
            left: 0px;
        }
    }

    &::before {
        content: '';
        position: absolute;
        width: 500px;
        height: 500px;
        border-radius: 50%;
        right: 0px;
        top: -300px;

        background-image: radial-gradient(
            circle,
            #00a44f 0%,
            #57aa7f 60%,
            white 100%
        );

        filter: blur(200px);
        opacity: 0.7;
    }
}

.servicesSection {
    position: relative;
    margin-top: 50px;
}

.servicesCount {
    font-size: 20px;
    color: #24282b;
}

.serviceFilterTab {
    width: 100%;
    display: flex;
    align-items: center;
    gap: 2px;
    position: relative;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 20px 0px;
}

.filterRow {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;

    @media (max-width: 992px) {
        flex-direction: column;
        align-items: stretch;
        gap: 20px;
    }
}

.searchBox {
    border: 1px solid #00a44f;
    border-radius: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 3px;
    background: #fff;
    position: relative;
    z-index: 2;
    width: 60%;

    .input {
        font-size: 15px;
        outline: none;
        border: none;
        width: 100%;
        margin-left: 9px;
    }

    .searchIcon {
        font-size: 18px;
        background: #00a44f;
        cursor: pointer;
        color: white;
        border-radius: 50%;
        padding: 5px;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    @media (max-width: 992px) {
        width: 100%;
    }
}

.filterSelects {
    display: flex;
    width: 40%;
    gap: 20px;
    justify-content: space-between;
    align-items: center;

    @media (max-width: 992px) {
        width: 100%;
        justify-content: flex-start;
    }
    
    @media (max-width: 768px) {
        align-items: stretch;
        gap: 10px;

        button {
            align-self: flex-end;
        }
    }
}

.filter_select {
    flex: 1;
    min-width: 120px;
    border: 1px solid #00a44f;
    border-radius: 10px;
    height: 40px;
    :global {
        .ant-select-selector {
            background: none !important;
            border: none !important;
            border-radius: 8px;
            display: flex;
            align-items: center;
            transition: box-shadow 0.3s ease;
        }

        .ant-select-selection-placeholder,
        .ant-select-selection-item {
            color: #000 !important;
            font-size: 14px;
        }

        .ant-select-arrow {
            color: green !important;
            font-size: 14px;
        }

        .ant-select-dropdown {
            border-radius: 8px;
            box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
            background: #fff;
        }

        .ant-select-item {
            color: #000;
            font-size: 13px;

            &:hover {
                background: #f0f0f0;
            }
        }

        .ant-select:hover .ant-select-selector,
        .ant-select-focused .ant-select-selector {
            box-shadow: 0 0 0 2px rgba(0, 128, 0, 0.5) !important;
            outline: none !important;
        }
    }
}

.deleteBtn,
.deleteMob {
    border: #00a44f solid 1px;
    background: none;
    border-radius: 20px;
    width: 30px;
    height: 30px;
    place-content: center;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #00a44f;
    cursor: pointer;
    &:hover {
        color: red;
        border-color: red;
    }
}
.deleteBtn {
    display: block;
    @media (max-width: 768px) {
        display: none;
    }
}

.deleteMob {
    display: none;
    @media (max-width: 768px) {
        display: block;
    }
}