@import '/scss/utils/variable';
// navbar styles {
.navLink {
    font-size: 16px;
    font-weight: 400;
    color: $textColor;
    display: flex;
    align-items: center;
    gap: 3px;
    margin-right: 20px;
    cursor: pointer;
    @media (max-width: 992px) {
        font-size: 14px;
    }
    @media (max-width: 768px) {
        font-size: 12px;
    }
}
// kirish tugmasi
.loginEntrance {
    background-color: $color-1st;
    font-size: 16px;
    font-weight: 400;
    color: $textColorWhite;
    border-radius: 30px;
    padding: 10px 28px;
    cursor: pointer;
    transition: all 0.3s;
    box-sizing: border-box;
    border: 1px solid $color-1st;
    &:hover {
        box-sizing: border-box;
        background: #fff;
        color: $textColor;
    }
    @media (max-width: 768px) {
        padding: 10px 28px;
        font-size: 14px;
    }
    @media (max-width: 568px) {
        padding: 8px 18px;
        font-size: 12px;
    }
}

// hero section
