.or_google {
    display: flex;
    justify-content: center;
    gap: 10px;

    & span:first-child {
        max-width: 240px;
        width: 100%;
        border: 1px solid $color-1st;
        margin-top: 10px;
        height: 0;
    }

    & span:last-child {
        max-width: 240px;
        width: 100%;
        border: 1px solid $color-1st;
        margin-top: 10px;
        height: 0;
    }
}

.google_account {
    width: 100%;
    padding: 20px 0;

    & div {
        height: 50px !important;
        padding: 0 !important;
        background-color: #ffffff;
        border: 1px solid $color-1st;
        color: $color-1st;
    }
}
