.menu--mobile-2 {
    .ant-menu-submenu {
        > .ant-menu-submenu-title {
            > a {
                color: $color-heading;
                font-size: 16px;
            }

            > span {
                font-size: 16px;
                color: $color-heading;
            }
        }

        > .ant-menu-sub {
            padding-left: 20px;
        }
    }

    .ant-menu-item-active {
        color: $color-1st;
        background-color: transparent;
    }
}

.sidebar-layout {
    height: fit-content;
    border: 1px solid rgb(232, 232, 232);
    border-radius: 8px;
    position: sticky;
    width: 300px;
    top: 110px;
    left: 0px;
    overflow: hidden;

    .ant-menu {
        border: none;
        margin-bottom: 20px;
        padding-inline: 15px;

        .ant-menu-item {
            padding-left: 15px !important;
            white-space: nowrap;
        }

        .ant-menu-item-selected {
            background-color: $color-1st;
            color: #fff;

            &:hover {
                background-color: $color-1st;
                color: #fff;
            }
        }
    }

    .ant-menu-inline-collapsed {
        padding-inline: 10px;

        .ant-menu-item {
            // padding-left: 12px !important;
            padding-top: 3px !important;
            .ant-menu-title-content {
                display: none;
            }
        }
    }
}

.menu--product-categories {
    display: flex;
    gap: 15px;
    padding: 5px 0;
}

.menu__toggle__drop_down_item:hover .menu__toggle__drop_down {
    display: block;
}

.menu__toggle__drop_down {
    display: none;
    padding-top: 12px;
    width: 300px;
    position: absolute;
    background-color: #fff;
    border: 1px solid rgba(0, 0, 0, 0.166);
    border-radius: 5px;
    z-index: 1;
}

.menu__item {
    padding: 0px 16px;
}

.menu__item:hover {
    background-color: rgba(0, 0, 0, 0.056);
}

.header__top__items {
    display: none;
}

.roadMap {
    font-size: 16px;
    color: $textColor;
    font-weight: 400;
    line-height: 26px;
    cursor: pointer;
    display: flex;
    align-items: center;
    @media (max-width: 992px) {
        font-size: 14px;
    }
    @media (max-width: 576px) {
        font-size: 13px;
        flex: 1;
    }
    @media (max-width: 480px) {
        font-size: 12px;
        flex: 1;
    }
}
.header__items {
    display: flex;
    align-items: center;
}

@media only screen and (max-width: 992px) {
    .header__top__items {
        display: block;
    }

    .header__items {
        display: none;
    }
}
