@import '/scss/utils/variable';

.mainblock {
    background-color: $mainbg;
    padding: 57px 20px;

    .footerMainTitle {
        color: #fff;
        font-size: 36px;
        display: block;
        font-weight: 600;
        flex: 1;
        margin-bottom: 30px;

        @media (max-width: 992px) {
            font-size: 28px;
        }

        @media (max-width: 576px) {
            font-size: 24px;
        }
    }

    .footerLogo {
        width: 200px;

        @media (max-width: 1200px) {
            width: 180px;
        }

        @media (max-width: 992px) {
            width: 160px;
        }

        @media (max-width: 576px) {
            width: 140px;
        }
    }
}