.container {
    max-width: 1400px;
    width: 100%;
    margin: 0 auto;
    padding: 0 15px;

    @media (max-width: 768px) {
        padding: 0 10px;

        .header-bottom {
            width: auto;
        }
    }
}

.site-header {
    background-color: transparent;
}

.header-bottom {
    position: fixed;
    width: 100vw; 
    left: 0; 
    right: 0; 
    top: 0;
    z-index: 1000;
    background-color: white;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}

.nprogress {
    z-index: 99999999999;
}

.header-bottom--show {
    background-color: white;
    transition: all 0.3s ease;
    top: 0;
}



.other-header {
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.04) 0px 3px 5px;
}

.header-topsection.new {
    background-color: white;
    position: absolute;
    width: 100%;
}

.header-inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 35px;
    margin: 14px 0px;
}

.site-header-actions {
    display: flex;
    align-items: center;
    gap: 20px;
}

.site-header-searchbar {
    flex: 1;
}

.header-search-form {
    display: flex;
    align-items: stretch;
}

.header-search-select .ant-select-selector {
    padding: 0 20px !important;
}

.header-search-inner {
    display: flex;
    align-items: stretch;
    border-radius: 20px;
    overflow: hidden;
    position: relative;
    z-index: 9999;
}

.header-search-inner.true {
    input {
        background-color: rgb(245, 246, 247);
    }

    .ant-select-selector {
        background-color: rgb(245, 246, 247);
    }
}

.ps-panel--search-result.active {
    top: 45px;
    padding: 20px 25px;
    border-radius: 20px;
    z-index: 9999;
}

.searchbar-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: -100;
    background-color: #1b3a4aa0;
    opacity: 0;
}

.searchbar-overlay.active {
    bottom: 0;
    z-index: 4;
    animation: overlay-open 200ms linear;
    opacity: 1;
}

.header-search-inner button {
    background-color: #00a44f;
}

@keyframes overlay-open {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.site-header-actions {
    color: white;
}

.search-form-mobile {
    display: none;
}

@media only screen and (max-width: 768px) {
    .header-inner {
        gap: 15px;

        .site-header-searchbar {
            display: none;
        }
    }

    .search-form-mobile {
        display: flex;
        padding: 6px 0 2px;
    }

    .phone-ic {
        display: none;
    }

    .username_title{
        display: none;
    }
}

.view-all-results {
    padding: 15px 0 0;
    text-align: center;
}

.black-link {
    color: #000 !important;
}

.white-link {
    color: white !important;
}
