.container {
    max-width: 1400px;
    width: 100%;
    margin: 0 auto;
    padding: 0 15px;

    @media (max-width: 768px) {
        padding: 0 10px;

        .header-bottom {
            width: auto;
        }
    }
}

.site-header {
    position: sticky;
    top: 0;
    background-color: #fff;
    z-index: 1000;

    .pagesSpace {
        background-color: transparent;
    }

    opacity: 0;
    transform: translateY(10px);
    animation: fadeIn 0.5s ease forwards;
}

@keyframes fadeIn {
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.servicesSpace {
    height: 300px;
    @media (max-width: 992px) {
        height: 250px;
    }
    @media (max-width: 768px) {
        height: 200px;
    }
    @media (max-width: 576px) {
        height: 150px;
    }
}
.servicesOrders {
    height: 200px;
    @media (max-width: 992px) {
        height: 150;
    }
    @media (max-width: 768px) {
        height: 100px;
    }
}

// .header-bottom {
//     position: fixed;
//     width: 100vw;
//     left: 0;
//     right: 0;
//     top: 0;
//     z-index: 1000;
//     background-color: white;
// }

// .nprogress {
//     z-index: 99999999999;
// }

// .header-bottom--show {
//     background-color: white;
//     transition: all 0.3s ease;
//     top: 0;
// }

.other-header {
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.04) 0px 3px 5px;
}

.header-topsection.new {
    background-color: white;
    position: absolute;
    width: 100%;
}

.header-inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
    // padding: 5px 0px;

    @media (max-width: 992px) {
        margin: 14px 0px;
    }
    @media (max-width: 576px) {
        border-top: 1px solid #ccc;
        margin: 0px 0px;
        padding: 10px 0px;
    }
}

.site-header-actions {
    display: flex;
    align-items: center;
    gap: 10px;
    justify-content: end;
    flex: 1;
}

.site-header-searchbar {
    flex: 1;
}

.header-search-form {
    display: flex;
    align-items: stretch;
}

.header-search-select .ant-select-selector {
    padding: 0 20px !important;
}

.header-search-inner {
    display: flex;
    align-items: stretch;
    border-radius: 20px;
    overflow: hidden;
    position: relative;
    z-index: 9999;
}

.header-search-inner.true {
    input {
        background-color: rgb(245, 246, 247);
    }

    .ant-select-selector {
        background-color: rgb(245, 246, 247);
    }
}

.ps-panel--search-result.active {
    top: 45px;
    padding: 20px 25px;
    border-radius: 20px;
    z-index: 9999;
}

.searchbar-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: -100;
    background-color: #1b3a4aa0;
    opacity: 0;
}

.searchbar-overlay.active {
    bottom: 0;
    z-index: 4;
    animation: overlay-open 200ms linear;
    opacity: 1;
}

.header-search-inner button {
    background-color: #00a44f;
}

@keyframes overlay-open {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.site-header-actions {
    color: white;
}

.search-form-mobile {
    display: none;
}

@media only screen and (max-width: 768px) {
    .header-inner {
        gap: 15px;

        .site-header-searchbar {
            display: none;
        }
    }

    .search-form-mobile {
        display: flex;
        padding: 6px 0 2px;
    }

    .phone-ic {
        display: none;
    }

    .username_title {
        display: none;
    }
}

.view-all-results {
    padding: 15px 0 0;
    text-align: center;
}

.black-link {
    color: #000 !important;
}

.white-link {
    color: white !important;
}

.menuItem {
    // position: relative;
    width: max-content;
    background: #fff;

    .label {
        padding: 10px 20px 10px 0px;
        color: $grayColor;
        font-size: 16px;
        font-weight: 400;
        border: none;
        outline: none;
        background: transparent;
        border-bottom: 2px solid transparent;
    }

    &:hover {
        .label {
            color: $color-1st;
            border-bottom: 2px solid $color-1st;
        }
    }

    .dropDown {
        display: flex;
        background: #fff;
        align-items: start;
        padding: 20px 0px;
        border: 1px solid $paragraphColor;
        overflow-y: auto;
        max-height: 400px;

        .detailsTitle {
            padding-left: 20px;
            font-weight: 500;
            font-size: 16px;
            border: 2px solid transparent;
        }

        .details {
            display: flex;
            flex-direction: column;
            width: 300px;
            padding: 0;
            list-style: none;
            flex: 1;

            .detail {
                color: $grayColor;
                font-size: 14px !important;
                font-weight: 400;
                text-align: start;
                cursor: pointer;
                list-style: none;
                padding-left: 25px !important;
                box-sizing: border-box;
                border: 3px solid transparent;
                transition: all 0.5s;

                &:hover {
                    border-left: 3px solid $color-1st;
                    color: $color-1st !important;
                }
            }
        }

        .templates .orders {
            display: flex !important;
            flex-direction: column !important;
            flex: 1;
        }

        .orders {
            border-left: 1px solid $paragraphColor;
        }

        .sectionLabel {
            color: $textColor;
            font-size: 16px;
            font-weight: 700;
            text-align: start;
            line-height: 26px;
            padding: 0px 20px 10px 20px;
            margin: 0;
            border-left: 3px solid transparent;
        }
    }
}
