.hero {
    background-image: url('https://cdn.pixabay.com/index/2023/04/18/04-44-42-402_1920x550.jpg');
    background-repeat: no-repeat;
    background-position: center top;
    background-size: cover;
}

.hero-bg {
    padding: 140px 0;
    background: linear-gradient(
        0deg,
        rgba(25, 27, 38, 0.32),
        rgba(25, 27, 38, 0.72)
    );
}

.hero-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 800px;
    width: 100%;
    margin: 0 auto;
    text-align: center;
}

.hero-title {
    color: white;
    font-size: 40px;
}

.hero-text {
    color: white;
    font-size: 18px;
}

.category-tabs {
    display: flex;
    justify-content: center;
    gap: 20px;
    padding: 20px 0;
}

.category {
    // background-color: white;
    background-color: rgb(245, 246, 247);
    padding: 20px 0;
}

.category-tab-item {
    font-size: 16px;
    display: flex;
    align-items: center;
    gap: 13px;
    padding: 5px 18px;
    border-radius: 24px;
    color: rgba(25, 27, 38, 0.64);
    cursor: pointer;
    border: 1px solid #f5f6f7;
    transition: all 0.2s ease;
    background-color: #fff;
    box-shadow: inset 0 -1px #c2c8d0;
    box-shadow: rgba(0, 0, 0, 0.04) 0px 3px 5px;
    box-shadow: rgba(17, 17, 26, 0.05) 0px 1px 0px, rgba(17, 17, 26, 0.1) 0px 0px 8px;
    box-shadow: rgba(33, 35, 38, 0.1) 0px 10px 10px -10px;
}

.category-tab-item.tab-active {
    color: #191b26;
    transition: all 0.2s ease;
    border-color: #00a44f;
}

.category-tab-item i {
    color: #00a44f;
}

.sub-category-tabs {
    display: flex;
    justify-content: center;
    gap: 10px;
    padding: 0 0 20px;
    flex-wrap: wrap;
}

.sub-category-tab-item {
    font-size: 13px;
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
    gap: 13px;
    padding: 4px 12px;
    border-radius: 8px;
    border: 1px solid #ceced2;
    transition: all 0.2s ease;
    color: #191b26;
    cursor: pointer;
    text-transform: lowercase;
}

.sub-category-tab-item.tab-active {
    transition: all 0.2s ease;
    color: #00a44f;
    border: 1px solid #00a44f;
}
