.products {
    background-color: white;
    background-color: rgb(245, 246, 247);
    padding: 0px;
}

.product-list {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    justify-content: center;
}

.product-list.video {
    gap: 0;
    justify-content: center;
}

.view-all-products {
    padding: 25px 0;
    display: flex;
    align-items: center;
    justify-content: center;
}
.view-all-products-link {
    padding: 12px 20px;
    color: #00a44f !important;
    border-radius: 20px;
    background-color: white;
    border: 2px solid #00a44f;
}

@media only screen and (max-width: 576px) {
    .product-list.file {
        gap: 0;
    }

    .product-list.p-loading {
        gap: 15px;
    }

    .file-card.file {
        max-width: 50%;
    }
}

.detail-swiper {
    .swiper-button-prev {
        display: none;
    }
    .swiper-button-next {
        display: none;
    }
}

.noactive-thumb {
    border: 1px solid transparent;
}

.active-thumb {
    border: 1px solid #00a44f;
}

.product-seller-info {
    & h5 {
        transition: all 0.2s ease;
    }
}

@media only screen and (max-width: 576px) {
    .noactive-thumb {
        height: auto !important;
    }

    .active-thumb {
        height: auto !important;
    }
}

.product-seller-info :hover {
    & h5 {
        transition: all 0.2s ease;
        color: #00a44f;
    }
}
