.searchBox {
    border: 1px solid #00a44f;
    border-radius: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 4px;
    background: #fff;
    position: relative;
    z-index: 2;

    .input {
        font-size: 15px;
        outline: none;
        border: none;
        width: 100%;
        height: 38px;
        margin-left: 9px;
    }

    .searchIcon {
        font-size: 18px;
        background: #00a44f;
        cursor: pointer;
        color: white;
        border-radius: 50%;
        padding: 10px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
}

.parent,
.child {
    display: flex;
    gap: 10px;
    overflow-x: auto;
    justify-content: center;
    scroll-snap-type: x mandatory;
    scrollbar-width: none !important;
    -ms-overflow-style: none !important;
    position: relative;
    z-index: 2;

    &::-webkit-scrollbar {
        display: none !important;
    }
}

.parent {
    margin: 24px 0 15px;
    padding: 0px 0px;
}

.child {
    margin-bottom: 30px;

    .childCat {
        padding: 5px 7px;
        font-size: 16px;
        color: #24282b;
        border: 1px solid #d9d9d9;

        @media (max-width: 992px) {
            padding: 4px 6px;
        }

        @media (max-width: 768px) {
            padding: 3px 5px;
        }
    }
}

.title {
    text-align: center;
    font-size: 64px;
    font-weight: 600;
    color: #24282b;
    margin: 40px 0;
    text-transform: capitalize;

    @media (max-width: 912px) {
        font-size: 50px;
    }

    @media (max-width: 768px) {
        font-size: 40px;
    }

    @media (max-width: 480px) {
        font-size: 28px;
    }
}

.filter {
    position: relative;
    width: 100%;

    &::after {
        content: '';
        position: absolute;
        width: 150px;
        // height: 150px;
        border-radius: 50%;
        left: 200px;
        top: 100px;
        z-index: 1;
        background-image: radial-gradient(
            circle,
            #018f45 0%,
            #038843 40%,
            white 100%
        );
        filter: blur(80px);
        opacity: 0.7;

        @media (max-width: 768px) {
            left: 0;
            width: 100px;
            // height: 100px;
        }
    }

    &::before {
        content: '';
        position: absolute;
        width: 600px;
        height: 500px;
        border-radius: 50%;
        right: 0;
        top: -300px;
        background-image: radial-gradient(
            circle,
            #00a44f 0%,
            #57aa7f 60%,
            white 100%
        );
        filter: blur(200px);
        opacity: 0.7;
    }
}

.carousel {
    margin: 0px;
    position: relative;

    @media (max-width: 768px) {
        padding: 0 20px;
    }

    @media (max-width: 480px) {
        padding: 0 5px;
    }
}

.carouselTestWrapper {
    position: relative;
    z-index: 20;
    margin: 3rem auto;

    .carouselTest {
        width: 100%;
        padding: 0px 50px;
        overflow-x: scroll;
        display: flex;
        gap: 1em;
        position: relative !important;
        scroll-behavior: smooth;
        scroll-snap-align: initial;
        scroll-snap-stop: 100px;
        scrollbar-width: none !important;
        -ms-overflow-style: none !important;

        sc &::-webkit-scrollbar {
            display: none !important;
        }

        .parentCat {
            font-size: 16px;
            padding: 10px;
            color: #24282b;
            border: 1px solid #fefefe;

            @media (max-width: 992px) {
                padding: 4px 6px;
                font-size: 14px;
            }

            @media (max-width: 768px) {
                padding: 4px 6px;
                font-size: 12px;
            }
        }

        .childCat {
            padding: 5px 7px;
            font-size: 16px;
            color: #24282b;
            border: 1px solid #fefefe;

            @media (max-width: 992px) {
                padding: 4px 6px;
                font-size: 14px;
            }

            @media (max-width: 768px) {
                padding: 3px 5px;
                font-size: 12px;
            }
        }

        .parentCat,
        .childCat {
            white-space: nowrap;
            cursor: pointer;
            transition: all 0.3s;
            background: #fefefe;
            border-radius: 10px;
            font-weight: 600;
            line-height: 26px;

            &:hover {
                background: #00a44f26;
                color: #00a44f;
                border: 1px solid #00a44f;
            }

            &.active {
                background: #00a44f26;
                color: #00a44f;
                border: 1px solid #00a44f;
            }
        }
    }

    .arrow {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        cursor: pointer;
        z-index: 3;
        width: 30px;
        height: 30px;
        display: grid;
        place-content: center;
        border-radius: 50%;
        color: white;
        background: #000;

        &.left {
            left: 0;
        }

        &.right {
            right: 0;
        }
    }
}

//  sliderCategories

.wrapperBlock {
    width: 100%;
    margin: auto;

    .block {
        margin-top: 30px;

        .detail {
            background-color: #fff;
            font-size: 16px;
            font-weight: 500;
            padding: 10px;

            @media (max-width: 992px) {
                font-size: 14px;
                padding: 7px;
            }

            @media (max-width: 576px) {
                font-size: 12px;
                padding: 5px;
            }
        }
    }
}
