.searchBox {
    border: 1px solid #00a44f;
    border-radius: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2px;
    width: 100%;
    background-color: #fff;
    max-width: 600px;
    position: relative;
    z-index: 10;
    margin-bottom: 10px;

    .input {
        font-size: 15px;
        outline: none;
        border: none;
        background-color: #fff !important;
        width: 100%;
        // margin-left: 9px;
        // margin-top: 5px;
        z-index: 3;
    }

    .select {
        min-width: 140px !important;
        border-right: 1px solid #eaeaea;
    }

    .searchIcon {
        font-size: 18px;
        background: #00a44f;
        cursor: pointer;
        position: relative;
        z-index: 10;
        color: white;
        border-radius: 50%;
        padding: 5px;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    input {
        outline: none !important;
        z-index: 3;

        &::placeholder {
            color: #24282b;
        }
    }
}

.searchOption {
    padding: 8px 12px;
    color: #000000e0;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    cursor: pointer;

    .searchOptionIcon {
        color: #888;
        margin-right: 8px;
        font-size: 18px;
        float: left;
    }

    .deleteHistoryBtn {
        float: right;
        font-size: 14px;
        padding: 0;
    }

    &:hover {
        background-color: #f5f5f5;
    }
}

.searchHistoryHeader {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 8px 12px;

    h4 {
        font-size: 16px;
        font-weight: 600;
        margin: 0;
    }

    button {
        font-size: 14px;
    }
}
