.title {
    font-size: 28px;
    font-weight: bold;
    color: #333;

    @media (max-width: 600px) {
        font-size: 22px;
    }
}

.galleryBox {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100%;
}

.imageWrapper {
    margin-top: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    border-radius: 12px;
    background: #f2f2f2;
    height: auto;
    padding: 1rem;

    img {
        object-fit: contain;
        width: 100%;
        height: auto;
        max-width: 100%;
        opacity: 1;
    }
}

.mobile {
    border: 1px solid rgba(0, 0, 0, 0.1);
    padding: 5px;
    border-radius: 12px;
    margin: 10px 0;

    .mobileTitle {
        font-size: 16px;
        margin-bottom: 5px;
    }

    .mobileDescr {
        font-size: 12px;
        white-space: pre-wrap;
        margin: 0;
    }
}
