.navigation {
    background-color: $color-1st;
    transition: all 0.25s ease;

    > .ps-container,
    > .container {
        display: flex;
        flex-flow: row nowrap;

        > * {
            width: 100%;
        }
    }

    &__extra {
        > li {
            position: relative;
            display: inline-block;
            margin-right: 20px;
            padding-right: 20px;

            &:after {
                content: '';
                @include vertical-align();
                right: 0;
                width: 2px;
                height: 15px;
                background-color: #000;
            }

            a {
                color: #000000;
            }

            &:last-child {
                margin-right: 0;
                padding-right: 0;

                &:after {
                    display: none;
                }
            }
        }

        .ps-dropdown {
            img {
                margin-right: 8px;
            }
        }
    }

    .navigation__left {
        max-width: 260px;
    }

    .navigation__right {
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-between;
        align-items: center;
        padding-left: 35px;
    }
}

.navigation--mobile {
    .ps-user--mobile {
        position: relative;
        display: inline-block;
        vertical-align: top;
        min-width: 40px;
        height: 40px;
        i {
            @include center;
        }
    }

    .navigation__right {
        display: flex;
        flex-flow: row nowrap;
        justify-content: flex-end;
        .header__extra {
            margin-right: 10px;
            &:last-child {
                margin-right: 0;
            }
        }
    }
    .header__actions {
        display: block;
        text-align: right;
        > * {
            flex-basis: 40px;
        }
    }
}


.navigation--list {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
    padding: 10px 30px;
    border-top: 1px solid #ccc;
    background-color: #ffffff;

    .navigation__item {
        text-align: center;

        i {
            font-size: 24px;
        }

        span {
            display: block;
        }

        &.active {
            i {
                color: $color-1st;
            }

            span {
                color: $color-1st;
            }
        }
    }

    .navigation__content {
        max-width: 400px;
        margin: 0 auto;
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-between;
        align-items: center;
    }

    @media (min-width: 1200px) {
        display: none;
    }
}

