.totalIncome {
    margin-block: 1rem;
    background: linear-gradient(to bottom right, #22c55e, #059669);
    border-radius: 1rem;
    padding: 1rem;
    box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1),
        0 4px 6px -4px rgba(0, 0, 0, 0.1);

    transform: scale(1);
    transition: transform 0.3s;

    &:hover {
        transform: scale(1.05);
    }
}

.card {
    display: flex;
    align-items: center;
    gap: 1rem;
    color: white;
}

.iconBg {
    background-color: rgba(255, 255, 255, 0.2);
    padding: 0.75rem;
    border-radius: 1rem;
    backdrop-filter: blur(4px);
    display: flex;
    align-items: center;
    justify-content: center;
}

.icon {
    width: 2rem;
    height: 2rem;
}

.info .label {
    font-size: 1rem;
    opacity: 0.9;
    margin: 0;
    color: white;
    line-height: normal;
}

.amount {
    display: flex;
    align-items: baseline;
    gap: 0.5rem;
    line-height: normal;
}

.value {
    font-size: 1.875rem;
}

.currency {
    font-size: 1.125rem;
}

.left {
    background-color: rgba(255, 255, 255, 0.2);
    padding: 0.5rem;
    border-radius: 0.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.alertMiddle {
    :global(.ant-alert-icon) {
        font-size: 16px !important;
        margin-top: 2px !important;
    }

    :global(.ant-alert-message) {
        font-size: 14px !important;
        font-weight: 500 !important;
        margin-bottom: 4px !important;
    }

    :global(.ant-alert-description) {
        font-size: 12px !important;
        line-height: 1.4 !important;
    }

    padding: 8px 12px !important;
}

.mobileOnlyActions {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: #f9fafb;
    padding: 0.75rem;
    display: flex;
    gap: 0.75rem;
    justify-content: center;
    box-shadow: 0 -4px 6px -1px rgba(0, 0, 0, 0.1);
    z-index: 50;

    @media (min-width: 992px) {
        display: none !important;
    }
}

.userShortInfo {
    background-color: #f9fafb; // bg-light
    padding: 0.75rem; // p-3
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06); // shadow
    border-radius: 0.75rem; // rounded-xl
}

.avatarContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.avatarImageWrapper {
    width: 125px;
    height: 125px;
    position: relative;
    overflow: hidden;
    border-radius: 9999px; // rounded-full
}

.avatarImage {
    border-radius: 9999px;
    object-fit: cover;
}

.fullName {
    font-size: 18px;
    font-weight: 600;
    text-align: center;
    margin-bottom: 4px;
    margin-top: 8px;
}

.position {
    font-size: 14px;
    font-weight: 400;
    text-align: center;
    color: #6b7280; // text-secondary
    margin-bottom: 4px;
}

.copyLinkBtn {
    padding: 6px;
    position: absolute;
    top: 10px;
    right: 10px;
}

.infoRows {
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.infoRow {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    gap: 0.5rem;
    font-size: 18px;
}

.infoRowLeft {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.infoRowIcon {
    width: 20px;
    display: flex;
    justify-content: center;
}

.infoRowLabel {
    font-size: 12px;
    color: #6b7280;
}

.infoRowValue {
    font-size: 14px;
    text-align: right;
}

.actionButtons {
    margin-top: 1rem;
    display: flex;
    gap: 0.75rem;
}

.chatBtn {
    border-color: #00a44f !important;
    color: #00a44f !important;
}

.statsSection {
    margin-top: 1rem;
}

.statsTitle {
    display: block;
    margin-bottom: 0.75rem;
    font-weight: 600;
    font-size: 16px;
}

.statsList {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.statItem {
    display: flex;
    align-items: center;
    gap: 1rem;
    justify-content: space-between;
}

.statItemLabel {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.statTitleText {
    color: #6b7280;
    font-size: 15px;
}

.statValueText {
    font-weight: 600;
    font-size: 15px;
}