.totalIncome {
    margin-block: 1rem;
    background: linear-gradient(to bottom right, #22c55e, #059669);
    border-radius: 1rem;
    padding: 1rem;
    box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1),
        0 4px 6px -4px rgba(0, 0, 0, 0.1);

    transform: scale(1);
    transition: transform 0.3s;

    &:hover {
        transform: scale(1.05);
    }
}

.card {
    display: flex;
    align-items: center;
    gap: 1rem;
    color: white;
}

.iconBg {
    background-color: rgba(255, 255, 255, 0.2);
    padding: 0.75rem;
    border-radius: 1rem;
    backdrop-filter: blur(4px);
    display: flex;
    align-items: center;
    justify-content: center;
}

.icon {
    width: 2rem;
    height: 2rem;
}

.info .label {
    font-size: 1rem;
    opacity: 0.9;
    margin: 0;
    color: white;
    line-height: normal;
}

.amount {
    display: flex;
    align-items: baseline;
    gap: 0.5rem;
    line-height: normal;
}

.value {
    font-size: 1.875rem;
}

.currency {
    font-size: 1.125rem;
}

.left {
    background-color: rgba(255, 255, 255, 0.2);
    padding: 0.5rem;
    border-radius: 0.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
}
