.active {
    color: $color-1st !important;
}

.acc-body-child-a {
    padding: 5px 0;
}

.acc-mobile-padding {
    padding: 12px 8px 12px 6px !important;
}

.top-seller-image {
    width: 200px;
    border-radius: 20px;
    position: relative;
    .top-seller-image_back {
        border-radius: 20px;
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        background: rgb(0, 0, 0);
        background: linear-gradient(
            0deg,
            rgba(0, 0, 0, 0.9136029411764706) 0%,
            rgba(54 58 61 / 32%) 35%,
            rgb(243 243 243 / 0%) 100%
        );

        .top-seller-image_name {
            position: absolute;
            bottom: 10%;
            padding: 0 20px;
            font-size: 17px;
            font-weight: 700;
            color: #fff;
            font-family: Montserrat !important;
        }
    }
    .top-seller-image_desc {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
}

.ant-card-body {
    padding: 0 !important;
}

.order {
    .ant-card-bordered {
        border: none !important;
    }
    .ant-ribbon-text {
        font-size: 9px !important;
    }
}

.swiper {
    .swiper-slide {
        width: max-content !important;
    }
}

.categorySwiper {
    padding: 60px 0;
    width: 100%;
}

.categorySwiperBeginning::before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 60px;
    height: 100%;
    z-index: 11;
    background: linear-gradient(
        to left,
        rgba(241, 243, 255, 0.05),
        rgba(241, 243, 255, 1) 80%
    );
}

.categorySwiperEnding::after {
    content: '';
    position: absolute;
    right: 0;
    top: 0;
    width: 60px;
    height: 100%;
    z-index: 11;
    background: linear-gradient(
        to right,
        rgba(241, 243, 255, 0.05),
        rgba(241, 243, 255, 1) 80%
    );
}

.mui-tel-input .MuiInputAdornment-root {
    display: none !important;
}
.mui-tel-input .MuiInputBase-root {
    padding-left: 2px !important;
}
