.audio-cart-container {
    background-color: #fff;
    padding: 20px 15px;
    border-radius: 15px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
    transition: all .5s;

    &:hover{
        cursor: pointer;
        box-shadow: rgba(0, 0, 0, 0.09) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
    }

    .audio-play-list {
        font-size: 30px !important;
    }

    .audio-list-left {

        p {
            display: flex;
            align-items: center;
            margin: 0;

            a {
                font-size: 14px;
            }
        }
    }

    .audio-list-icons{
        i{
            font-size: 18px;
        }
    }

    .audio-name{
        display: inline-block;
        max-width: 200px;
    }
}

.audio-list-action{
    display: flex;
    align-items: center;
    justify-content: center;
}

@media screen and (max-width: 1200px) {
    .audio-cart-container {
        .audio-name{
            max-width: 150px;
        }
    }
}

@media screen and (max-width: 992px) {
    .audio-cart-container {
        .audio-name{
            max-width: 500px;
        }
    }
}

@media screen and (max-width: 560px) {
    .audio-cart-container {
        .audio-name{
            max-width: 300px;
        }
    }
}

@media screen and (max-width: 460px) {
    .audio-cart-container {
        .audio-name{
            max-width: 100px;
        }
    }
}