.audio-cart-container {
    background-color: #fff;
    padding: 20px 15px;
    border-radius: 15px;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    transition: all .5s;

    &:hover{
        cursor: pointer;
        box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    }

    .audio-play-list {
        font-size: 30px !important;
    }

    .audio-list-left {

        p {
            display: flex;
            align-items: center;
            margin: 0;

            a {
                font-size: 14px;
            }
        }
    }

    .audio-list-icons{
        i{
            font-size: 18px;
        }
    }

    .audio-name{
        display: inline-block;
        max-width: 200px;
    }
}

.audio-list-action{
    display: flex;
    align-items: center;
    justify-content: center;
}

@media screen and (max-width: 1200px) {
    .audio-cart-container {
        .audio-name{
            max-width: 150px;
        }
    }
}

@media screen and (max-width: 992px) {
    .audio-cart-container {
        .audio-name{
            max-width: 500px;
        }
    }
}

@media screen and (max-width: 560px) {
    .audio-cart-container {
        .audio-name{
            max-width: 300px;
        }
    }
}

@media screen and (max-width: 460px) {
    .audio-cart-container {
        .audio-name{
            max-width: 180px;
        }
    }
}