button {
    cursor: pointer;
    @include transition(all 0.4s ease);
}

.btn-send-email{
    &:hover{
        background-color: $color-1st !important;
    }
}



:where(.css-dev-only-do-not-override-pr0fja).ant-btn >span{
    font-weight: 600;
}


.ps-btn,
button.ps-btn {
    display: inline-block;
    padding: 15px 9px;
    font-size: 16px;
    font-weight: 600;
    line-height: 20px;
    color: $color-heading;
    border: none;
    font-weight: 600;
    border-radius: 4px;
    background-color: $color-1st;
    transition: all 0.4s ease;
    cursor: pointer;

    &--rounded {
        @include border-radius(50px);
    }

    &--curve {
        @include border-radius(5px);
    }

    &--outline {
        border: 2px solid $color-1st;
        color: $color-1st;
        background-color: transparent;
        @include box-shadow(none);
        font-weight: 500;

        &:hover {
            color: #ffffff;
            background-color: $color-1st;
        }
    }

    &--fullwidth {
        width: 100%;
        text-align: center;
    }

    &--sm {
        padding: 0.5rem 2rem;
        font-size: 1.2rem;

        &.ps-btn--curve {
            @include border-radius(3px);
        }
    }

    &--lg {
        padding: 1.5rem 4rem;
    }

    &--xl {
        padding: 2rem 6rem;
        font-size: 1.6rem;
    }

    &.ps-btn--reverse {
        background-color: #576391;

        &:hover {
            background-color: $color-2nd;
        }
    }

    &.ps-btn--gray {
        background-color: #e5e5e5;
        color: #000000;
        font-size: 1.6rem;
    }

    &.ps-btn--black {
        background-color: $color-heading;

        &.ps-btn--outline {
            background-color: transparent;
            border: 2px solid $color-heading;
            color: $color-heading;

            &:hover {
                background-color: $color-heading;
                color: #ffffff;
            }
        }
    }

    &:hover,
    &:active {
        background-color: #222;
        color: #fff;

        &.ps-btn--black {
            background-color: $color-1st;
        }
    }
}

button.confirm-btn {
    display: flex;
    align-items: center;
    justify-content: center;
}



.ps-btn--backtop {
    display: flex !important;
    justify-content: center;
    align-items: center;
    width: 45px;
    height: 45px;
    border-radius: 50%;
    z-index: 10000;
    background-color: $color-1st;
    border: 1px solid $color-1st;

    i {
        color: #fff;
    }

    &:hover {
        cursor: pointer;
        border-color: $color-1st;
        i {
            color: #fff;
        }
    }

    @include media('<lg') {
        display: none;
    }
}


.ps-btn--container {
    position: relative;

    ul {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -67%);
        margin: 0;
        padding: 0;
        li {
            list-style: none;
            display: flex;
            justify-content: center;
            align-items: center;
            z-index: 10000;
            background-color: $color-1st;
            border-radius: 50%;
            margin-top: 5px;
            cursor: pointer;
            i {
                padding: 14px;
                font-size: 17px;
                color: #ffffff;
                &:hover {
                    cursor: pointer;
                }
            }
        }
    }

    .backtop__ul--true {
        visibility: visible;
        opacity: 1;
        position: absolute;
        top: -57px;
        transition: all 0.5s ease;
        z-index: 9999;
    }
    .backtop__ul--false {
        visibility: hidden;
        opacity: 0;
        top: 0;
        transition: all 0.3s ease;
    }

    .ps-btn--backtop--border2 {
        width: 57px;
        height: 57px;
        border: 6px solid #08ad5891;
        display: inline-block;
        position: absolute;
        border-radius: 50%;
    }

    .ps-btn--backtop--border1 {
        width: 50px;
        height: 50px;
        z-index: 999999;
        display: inline-block;
        position: absolute;
        border-radius: 50%;
        animation-name: border-animate;
        animation-duration: 1s;
        animation-iteration-count: infinite;
        animation-fill-mode: forwards;
        animation-timing-function: linear;
        animation-delay: 0.5s;
    }

    @keyframes border-animate {
        0% {
            transform: scale(0.9);
            border: 2px solid #08ad5891;
        }
        100% {
            transform: scale(2);
            border: 2px solid #08ad586e;
        }
    }
}


.fa-message::before {
    animation-name: message-iconn;
    animation-duration: 3s;
    animation-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275);
    animation-iteration-count: infinite;
}


.backgound-black {
    position: fixed;
    z-index: 1001;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #0000005c;
    width: 100%;
    height: 100%;
}

.ant-back-top {
    position: fixed;
    right: 50px !important;
    z-index: 1009;
    bottom: 60px;
    display: none;
}

@media screen and (max-width: 1200px) {
    .ant-back-top {
        right: 50px !important;
        bottom: 100px;
        z-index: 999999;
    }
    .backgound-black {
        z-index: 99999;
    }
}

@media screen and (max-width: 480px) {
    .ant-back-top {
        right: 30px !important;
        bottom: 85px;
    }

    .ps-btn--container {
        ul {
            li {
                width: 40px;
                height: 40px;
            }
        }
    }

    .ps-btn--backtop {
        width: 45px;
        height: 45px;
    }

    .ps-btn--backtop--border2 {
        border: 3px solid #08ad586e;
        width: 50px;
        height: 50px;
    }
}


.openNotification{
    z-index: 999999999999999999 !important;
}