button {
    cursor: pointer;
    @include transition(all 0.4s ease);
}


.taklif-div{
    display: flex;
    flex-basis: 100%;
    justify-content: space-between;
    border: 1px solid $color-1st;
   .link{
    padding: 10px;
   }
    button{
        padding: 3px 35px;
    }
}


// .ant-btn-default{
//     &:hover{
//         color: #fff !important;
//     }
// }

:where(.css-dev-only-do-not-override-pr0fja).ant-btn >span{
    font-weight: 600;
}

.menu-toggle,
.ps-btn--hamburger {
    position: relative;
    display: inline-block;
    //display: none;
    width: 40px;
    height: 40px;
    overflow: hidden;
    @include border-radius(50%);

    span,
    &:before,
    &:after {
        position: absolute;
        right: 10px;
        height: 2px;
        width: 20px;
        background-color: #303030;
        z-index: 100;
        @include transition(all 0.4s ease);
    }

    span {
        top: 50%;
        @include transform(translateY(-50%));
    }

    &:before,
    &:after {
        content: '';
    }

    &:before {
        top: 12px;
    }

    &:after {
        bottom: 12px;
    }

    &:hover {
        cursor: pointer;
    }

    &.active {
        span {
            @include transform(translateX(100%));
            visibility: hidden;
            opacity: 0;
        }

        &:before,
        &:after {
            top: 50%;
            bottom: auto;
            width: 20px;
            @include transform-origin(50% 50%);
            background-color: #fc354c;
        }

        &:before {
            @include transform(rotate(45deg));
        }

        &:after {
            @include transform(rotate(-45deg));
        }
    }

    @include media('<lg') {
        display: inline-block;
    }
}

.ps-btn,
button.ps-btn {
    display: inline-block;
    padding: 15px 9px;
    font-size: 16px;
    font-weight: 600;
    line-height: 20px;
    color: $color-heading;
    border: none;
    font-weight: 600;
    border-radius: 4px;
    background-color: $color-1st;
    transition: all 0.4s ease;
    cursor: pointer;

    &--rounded {
        @include border-radius(50px);
    }

    &--curve {
        @include border-radius(5px);
    }

    &--outline {
        border: 2px solid $color-1st;
        color: $color-1st;
        background-color: transparent;
        @include box-shadow(none);
        font-weight: 500;

        &:hover {
            color: #ffffff;
            background-color: $color-1st;
        }
    }

    &--fullwidth {
        width: 100%;
        text-align: center;
    }

    &--sm {
        padding: 0.5rem 2rem;
        font-size: 1.2rem;

        &.ps-btn--curve {
            @include border-radius(3px);
        }
    }

    &--lg {
        padding: 1.5rem 4rem;
    }

    &--xl {
        padding: 2rem 6rem;
        font-size: 1.6rem;
    }

    &.ps-btn--reverse {
        background-color: #576391;

        &:hover {
            background-color: $color-2nd;
        }
    }

    &.ps-btn--gray {
        background-color: #e5e5e5;
        color: #000000;
        font-size: 1.6rem;
    }

    &.ps-btn--black {
        background-color: $color-heading;

        &.ps-btn--outline {
            background-color: transparent;
            border: 2px solid $color-heading;
            color: $color-heading;

            &:hover {
                background-color: $color-heading;
                color: #ffffff;
            }
        }
    }

    &:hover,
    &:active {
        background-color: #222;
        color: #fff;

        &.ps-btn--black {
            background-color: $color-1st;
        }
    }
}

.ps-btn--favorite {
    position: relative;
    display: inline-block;
    width: 40px;
    height: 40px;
    border: none;
    font-size: 18px;
    @include border-radius(50%);
    vertical-align: top;

    i {
        @include center();
        color: #000000;
        @include transition(all 0.4s ease);
    }

    &:hover {
        i {
            color: $color-2nd;
        }
    }
}

.ps-btn--close {
    display: inline-block;
    position: relative;
    width: 30px;
    height: 30px;
    @include transition(all 0.4s ease);
    @include border-radius(50%);
    &:before,
    &:after {
        content: '';
        position: absolute;
        top: 50%;
        left: 50%;
        width: 2px;
        height: 50%;
        background-color: #9f9a98;
        @include transform-origin(center center);
        @include transition(all 0.4s ease);
    }

    &:before {
        @include transform(translate(-50%, -50%) rotate(45deg));
    }

    &:after {
        @include transform(translate(-50%, -50%) rotate(-45deg));
    }

    &:hover {
        @include transform(rotate(180deg));

        &:before,
        &:after {
            background-color: #f44336;
            @include transition-delay(0.3s);
        }
    }
}

.ps-btn--backtop {
    display: flex !important;
    justify-content: center;
    align-items: center;
    width: 45px;
    height: 45px;
    border-radius: 50%;
    z-index: 10000;
    background-color: $color-1st;
    border: 1px solid $color-1st;

    i {
        color: #fff;
    }

    &:hover {
        cursor: pointer;
        border-color: $color-1st;
        i {
            color: #fff;
        }
    }

    @include media('<lg') {
        display: none;
    }
}


.ps-btn--container {
    position: relative;

    ul {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -67%);
        margin: 0;
        padding: 0;
        li {
            list-style: none;
            display: flex;
            justify-content: center;
            align-items: center;
            z-index: 10000;
            background-color: $color-1st;
            border-radius: 50%;
            margin-top: 5px;
            cursor: pointer;
            i {
                padding: 14px;
                font-size: 17px;
                color: #ffffff;
                &:hover {
                    cursor: pointer;
                }
            }
        }
    }

    .backtop__ul--true {
        visibility: visible;
        opacity: 1;
        position: absolute;
        top: -57px;
        transition: all 0.5s ease;
        z-index: 9999;
    }
    .backtop__ul--false {
        visibility: hidden;
        opacity: 0;
        top: 0;
        transition: all 0.3s ease;
    }

    .ps-btn--backtop--border2 {
        width: 57px;
        height: 57px;
        border: 6px solid #08ad5891;
        display: inline-block;
        position: absolute;
        border-radius: 50%;
    }

    .ps-btn--backtop--border1 {
        width: 50px;
        height: 50px;
        z-index: 999999;
        display: inline-block;
        position: absolute;
        border-radius: 50%;
        animation-name: border-animate;
        animation-duration: 1s;
        animation-iteration-count: infinite;
        animation-fill-mode: forwards;
        animation-timing-function: linear;
        animation-delay: 0.5s;
    }

    @keyframes border-animate {
        0% {
            transform: scale(0.9);
            border: 2px solid #08ad5891;
        }
        100% {
            transform: scale(2);
            border: 2px solid #08ad586e;
        }
    }
}

.message-icon {
    animation-name: message-iconn;
    animation-duration: 3s;
    animation-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275);
    animation-iteration-count: infinite;
}
.fa-message::before {
    animation-name: message-iconn;
    animation-duration: 3s;
    animation-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275);
    animation-iteration-count: infinite;
}

@keyframes message-iconn {
    0% {
        display: none;
    }
    100% {
        display: block;
    }
}

.backgound-black {
    position: fixed;
    z-index: 1001;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #0000005c;
    width: 100%;
    height: 100%;
}

.ant-back-top {
    position: fixed;
    right: 50px !important;
    z-index: 1009;
    bottom: 60px;
}

@media screen and (max-width: 1200px) {
    .ant-back-top {
        right: 50px !important;
        bottom: 100px;
        z-index: 999999;
    }
    .backgound-black {
        z-index: 99999;
    }
}

@media screen and (max-width: 480px) {
    .ant-back-top {
        right: 30px !important;
        bottom: 85px;
    }

    .ps-btn--container {
        ul {
            li {
                width: 40px;
                height: 40px;
            }
        }
    }

    .ps-btn--backtop {
        width: 45px;
        height: 45px;
    }

    .ps-btn--backtop--border2 {
        border: 3px solid #08ad586e;
        width: 50px;
        height: 50px;
    }
}


.antd-notification-topRight{
    z-index: 99999999999 !important;
}

.openNotification{
    z-index: 999999999999999999 !important;
}