@import url('https://fonts.googleapis.com/css2?family=Inter:wght@500&family=Josefin+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,300;1,400;1,500;1,600;1,700&display=swap');
:root {
    --brand-primary: #4caf4f;
    --brand-secondary: #263238;
    --neutral-silver: #f5f7fa;
    --neutral-white: #fff;
}

* {
    box-sizing: border-box;
}

.l-navbar {
    background-color: var(--neutral-white);
}

.l-navbar-inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.l-navbar-logo {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}
.l-navbar-logo-head {
    fill: var(--brand-secondary, #263238);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}
.l-navbar-links {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    gap: 3.125rem;
    list-style: none;
    flex-wrap: wrap;
}
.l-navbar-link {
    text-decoration: none;
    color: var(--text-gray-900, #18191f);
    font-style: normal;
    font-weight: 400;
}
.l-navbar-buttons {
    display: flex;
    align-items: flex-start;
    gap: 0.875rem;
}
.l-navbar-login-button {
    display: flex;
    align-items: center;
    padding: 10px 20px;
    gap: 0.625rem;
    color: var(--brand-primary);
    text-align: center;
    font-family: Inter;
    font-weight: 500;
    border-radius: 14px;
    border: none;
    background-color: var(--neutral-silver);
    border: 1px solid transparent;
}

.l-navbar-login-button:hover {
    border-color: var(--brand-primary);
}

.l-navbar-signup-button {
    display: flex;
    padding: 10px 20px;
    align-items: center;
    gap: 0.625rem;
    background-color: var(--brand-primary);
    border-radius: 14px;
    border: none;
    text-align: center;
    font-weight: 500;
    color: white;
    border: 1px solid transparent;
}

.l-navbar-signup-button:hover {
    color: var(--brand-primary) !important;
    text-align: center;
    font-weight: 500;
    border: none;
    background-color: var(--neutral-silver);
    border: 1px solid var(--brand-primary);
}

.l-footer {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.footer-frame-1 {
    display: flex;
    padding: 2rem 0rem;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    background: var(--neutral-silver, #f5f7fa);
    align-self: stretch;
}
.footer-frame-1-text {
    color: var(--neutral-black, #263238);
    text-align: center;

    font-family: Inter;
    font-size: 4rem;
    font-style: normal;
    font-weight: 600;
    line-height: 4.75rem;
    width: 55.4375rem;
}
.footer-frame-1-button {
    display: flex;
    padding: 0.875rem 2rem;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
    border-radius: 0.25rem;
    height: 3.2rem;
    background: var(--brand-primary, #4caf4f);
    border: none;
    color: var(--neutral-white, #fff);
    text-align: center;

    font-family: Inter;
    font-size: 1rem;
    font-style: normal;
    font-weight: 500;
    line-height: 1.5rem;
}

.footer-frame-2 {
    display: flex;
    padding: 2.5rem 10.3125rem;
    align-items: flex-start;
    justify-content: space-between;
    gap: 18.8125rem;
    /* align-self: stretch; */
    width: 100%;
    height: auto;
    flex-wrap: wrap;
}
.company-info {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 2.5rem;
}
.logo-footer {
    display: flex;
    align-items: center;
    gap: 0.61819rem;
}
.copyright {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 0.5rem;
}
.copyright p {
    color: var(--neutral-silver, #f5f7fa);

    font-family: Inter;
    font-size: 0.875rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1.25rem;
}
.social-links {
    display: flex;
    align-items: flex-start;
    gap: 1rem;
}
.company-links {
    display: flex;
    align-items: flex-start;
    gap: 1.875rem;
    flex-wrap: wrap;
}
.column {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 1.5rem;
}
.head-column {
    color: var(--neutral-white, #fff);

    font-family: Inter;
    font-size: 1.25rem;
    font-style: normal;
    font-weight: 600;
    line-height: 1.75rem;
    width: 10rem;
}
.list-items {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 0.75rem;
}
.list-items p {
    color: var(--neutral-silver, #f5f7fa);
    font-family: Inter;
    font-size: 0.875rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1.25rem;
    width: 10rem;
}
.email-box #email {
    width: 15.9375rem;
    height: 2.5rem;
    border-radius: 0.5rem;
    opacity: 0.2;
    background: var(--default-white, #fff);
    border: none;
}
.email-box #email::placeholder {
    color: #d9dbe1;
    font-family: Inter;
    font-size: 0.875rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1.25rem;
}

.email-box {
    position: relative;
    display: flex;
    flex-shrink: 0;
}
.email-box img {
    position: absolute;
    top: 0.6rem;
    right: 0.8rem;
}

.l-hero {
    background-color: white;
}

.l-hero-inner {
    display: flex;
    padding: 50px 0;
    justify-content: space-between;

    .frame-1 {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 10px;

        .text-1 {
            font-size: 42px;
            font-weight: 600;
            line-height: 44px;
            margin: 0;
        }

        .text-2 {
            font-size: 16px;
        }
    }
}

.l-how-inner {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.l-how-title {
    font-weight: 500;
    font-size: 30px;
    text-align: center;
}

.l-how {
    padding: 50px 0 60px;
}

.l-how-content {
    width: 100%;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 15px;
}

.l-how-list {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 35px;
    background-color: #fff;
    cursor: pointer;
    border-radius: 8px;

    h4 {
        color: var(--brand-primary);
        font-weight: 600;
    }

    img {
        margin-bottom: 15px;
    }

    ul {
        display: flex;
        flex-direction: column;
        list-style-type: none;
        padding: 0;

        li {
            display: flex;
            align-items: center;
            gap: 5px;
        }

        & li::before {
            content: '';
            color: var(--brand-primary);
            display: block;
            width: 18px;
            height: 18px;
            background-image: url('/static/img/check-mark.png');
            background-size: contain;
        }
    }
}

.l-how-list:nth-child(1) {
    margin-bottom: 30px;
}

.l-how-list:nth-child(2) {
    margin-top: 30px;
}

.l-how-list:nth-child(3) {
    margin-bottom: 30px;
}

.l-how-list:nth-child(4) {
    margin-top: 30px;
}

.l-app {
    background-color: white;

    background-image: url('/static/img/web-app.png');
    background-size: 1200px;
    background-repeat: no-repeat;
    background-position: calc(70% + 350px) calc(50% - 0px);
    padding: 240px 20px;
}

.l-app-inner {
    display: flex;
    justify-content: flex-start;
}

.l-app-inner .frame-2 {
    max-width: 400px;
}

.l-app-title {
    font-weight: 500;
    line-height: 40px;
}

.l-app-desc {
    font-size: 18px;
}

.l-app-btn {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border: none;
    background-image: url('/static/img/googleplay.png');
    width: 120px;
    height: 36px;
    border-radius: 4px;
}

.l-app-btn.apple {
    background-image: url('/static/img/appstore.png');
}

.l-about-inner {
    display: flex;
    flex-direction: column;
    padding: 80px 10px;
    gap: 170px;
}

.l-about-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 50px;
}

.l-about-img {
    width: 400px;
    border-radius: 20px;
}

.l-about-content {
    max-width: 600px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.l-text-inner {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.l-text-title {
    font-weight: 500;
    font-size: 30px;
    text-align: center;
}

.l-text {
    padding: 50px 0 60px;
}

.l-text-content {
    width: 100%;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 15px;
}

.l-text-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px 15px;
    background-color: var(--neutral-silver);
    cursor: pointer;
    border-radius: 8px;
    max-width: 90%;
    text-align: center;

    h4 {
        color: var(--brand-primary);
        font-weight: 600;
        margin-bottom: 0;
    }

    img {
        margin-bottom: 15px;
        border-radius: 50%;
    }
}

.l-text {
    background-color: white;
}

.top-sellersss {
    position: relative;
    padding: 0 15px;
    font-weight: 500;

    &::before {
        // content: 'top sotuvchilarimiz';
        position: absolute;
        top: -25px;
        left: 10px;
        display: block;
        width: 240px;
        color: #4caf4f;
        // background-color: #4caf4f;
        font-size: 24px;
    }

    svg {
        position: absolute;
        left: 15px;
        top: 5px;
    }
}

.l-faq {
    background-color: white;
    padding: 60px 0;
}

.l-faq-inner {
    max-width: 800px;
    margin: 0 auto;
}

.l-faq-title {
    font-size: 32px;
    text-align: center;
    margin-bottom: 30px;
    font-weight: 500;
}

.l-faq-item {
    border-radius: 30px;
    padding: 25px;
    // box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 50px;
    // box-shadow: rgba(76, 175, 79, 0.1) 0px 10px 50px;
    box-shadow: rgba(76, 175, 79, 0.1) 0px 4px 16px,
        rgba(17, 17, 26, 0.05) 0px 8px 32px;
}

.l-faq-item {
    display: flex;
    flex-direction: column;
    gap: 20px;
    cursor: pointer;
}

.l-faq-content {
    display: none;
}

.l-faq-accordion-title {
    font-weight: 500;
}

.l-faq-content.active {
    display: block;
}

.l-faq-list {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.l-faq-accordion-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.l-first {
    padding: 50px 0;
    background-color: white;
}

.l-first-inner {
    max-width: 1360px;
    margin: 0 auto;
}

.l-first-inner .text-1 {
    text-align: center;
    margin-bottom: 50px;
    font-weight: 500;
    font-size: 36px;
}

.circles {
    display: flex;
    // flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    padding: 0;
}

.circles li {
    list-style: none;
    // max-width: 220px;
    // width: 100%;
    // height: 220px;
    animation: animate 3s linear infinite;
    padding: 15px 20px;
    overflow: hidden;
    -webkit-border-radius: 48px;
    border-radius: 48px;
    background: white;
    -webkit-box-shadow: 12px 12px 14px #f5f5f5, -12px -12px 14px #f5f5f5;
    box-shadow: 12px 12px 14px #f5f5f5, -12px -12px 14px #f5f5f5;
    display: flex;
}

@keyframes animate {
    0% {
        border-radius: 30px;
    }

    50% {
        border-radius: 20px;
    }

    100% {
        border-radius: 30px;
    }
}

.l-first-item {
    display: flex;
    flex-direction: column;
}

.l-first-item img {
    height: 34px !important;
}

.l-first-item-last:last-child img {
    height: 26px !important;
}

.l-first-item p {
    font-size: 16px;
    font-weight: 200;
    position: relative;
    z-index: 3;
}

.l-navbar-logo {
    width: 150px;
}

.l-about-title {
    font-size: 28px;
}

.har-xil-turdagi {
    font-weight: 500;
    // background-color: #4caf4f;
    color: #4caf4f;
    padding: 0 8px;
    word-break: keep-all;
}

.har-xil-turdagi {
    position: relative;
}

.har-xil-turdagi:before {
    content: '';
    z-index: -1;
    left: 0em;
    top: 0.1em;
    border-width: 2px;
    border-style: solid;
    border-color: #4caf4f;
    position: absolute;
    border-right-color: transparent;
    width: 100%;
    height: 1em;
    transform: rotate(1deg);
    opacity: 0.7;
    border-radius: 50%;
    padding: 0.1em 0.25em;
}

.har-xil-turdagi:after {
    content: '';
    z-index: -1;
    left: 0em;
    top: 0.3em;
    padding: 0.1em 0.25em;
    border-width: 2px;
    border-style: solid;
    border-color: #4caf4f;
    border-left-color: transparent;
    border-top-color: transparent;
    position: absolute;
    width: 100%;
    height: 1em;
    transform: rotate(-1deg);
    opacity: 0.7;
    border-radius: 50%;
}

.mark-video {
    font-weight: 600;
    text-decoration-color: #4caf4f;
    padding-right: 6px;
    text-decoration: none;
    color: #4caf4f;
}

.mark-video.white {
    text-decoration-color: #000;
}

@media only screen and (max-width: 576px) {
    .l-about-item {
        flex-direction: column;
    }

    .l-navbar-logo {
        width: 100px;
    }

    .l-navbar-signup-button {
        padding: 5px 15px;
    }

    .l-navbar-login-button {
        padding: 5px 15px;
    }

    .l-hero-inner {
        padding: 20px 0;
    }

    .l-first {
        padding: 20px 0;
    }

    .l-first-inner .text-1 {
        font-size: 22px;
        margin-bottom: 20px;
    }

    .circles {
        gap: 10px;
        row-gap: 20px;
    }

    .l-how {
        padding: 30px 0;
    }

    .l-how-title {
        font-size: 26px;
    }

    .l-how-content {
        width: 100%;
        align-items: stretch;
    }

    .l-how-list img {
        margin-bottom: 0;
    }

    .l-how-list {
        padding: 8px;
        margin: 0 !important;
        align-items: center;
        width: 100%;
        flex-direction: row;
        gap: 15px;

        h4 {
            margin: 0;
        }

        ul {
            display: none;
        }
    }

    .l-app {
        padding: 20px 0 220px;
        background-size: 300px;
        background-position: calc(50% - 0px) calc(100% - 20px);
    }
    .l-app-inner .frame-2 {
        display: flex;
        align-items: center;
        flex-direction: column;
        text-align: center;
    }

    .l-app-title {
        font-size: 26px;
    }

    .l-app-desc {
        font-size: 16px;
    }

    .l-about-inner {
        gap: 30px;
        padding: 50px 0;
    }

    .l-about-item {
        align-items: flex-start;
    }

    .bg-2 .l-about-item {
        flex-direction: column-reverse;
    }

    .l-about-img {
        border-radius: 8px;
        margin-bottom: 5px;
        height: 200px;
        object-fit: cover;
        object-position: center;
    }

    .l-about-title {
        font-size: 22px;
        font-weight: 500;
        margin-bottom: 3px;
    }

    .l-about-content p {
        font-size: 14px;
    }

    .l-about-item:nth-child(2) {
        flex-direction: column-reverse;
    }

    .l-about-item:nth-child(4) {
        flex-direction: column-reverse;
    }

    .l-faq {
        padding: 30px 0;
    }

    .l-faq-title {
        font-size: 22px;
        margin-bottom: 20px;
    }

    .l-faq-item {
        padding: 20px;
    }

    .l-faq-accordion-title {
        font-size: 16px;
    }

    .l-text {
        padding: 25px 0;
    }

    .l-text-title {
        font-size: 22px;
        margin-bottom: 0px !important;
    }
}

.unbutton {
    background: none;
    border: 0;
    padding: 0;
    margin: 0;
    font: inherit;
    cursor: pointer;
}

.unbutton:focus {
    outline: none;
}

.frame {
    padding: 20px;
    position: relative;
    display: grid;
    z-index: 1000;
    width: 100%;
    grid-row-gap: 1rem;
    grid-column-gap: 2rem;
    justify-items: start;
    text-transform: uppercase;
    font-size: 12px;
}

.frame--header {
    height: 100%;
    z-index: 3000;
    background-size: auto 80%;
    background-position: 120% 50%;
    background-repeat: no-repeat;
    grid-template-areas: 'title' 'prev' 'back' 'sub' 'sponsor' 'demos' 'heading';
}

.frame--footer {
    grid-template-areas: 'credits' 'author';
    align-content: end;
}

.frame #cdawrap {
    justify-self: start;
}

.frame a {
    pointer-events: auto;
}

.frame__title {
    grid-area: title;
    font-size: inherit;
    margin: 0;
}

.frame__back {
    grid-area: back;
    justify-self: start;
}

.frame__prev {
    grid-area: prev;
    justify-self: start;
}

.frame__sub {
    grid-area: sub;
}

.frame__demos {
    grid-area: demos;
    display: flex;
    align-items: center;
    gap: 0.5rem;
    align-self: start;
    flex-wrap: wrap;
    background: var(--color-bg);
    border: 1px solid;
    padding: 1rem;
    border-radius: 10px;
}

.frame__demos > * {
    width: 2rem;
    display: block;
    flex: none;
    text-decoration: none;
    border-radius: 50%;
    aspect-ratio: 1;
    border: 1px solid var(--color-link-hover);
    display: grid;
    place-items: center;
    padding-top: 0.2em;
    background: var(--color-bg);
}

.frame__demos > span {
    filter: invert(100%);
}

.frame__demos::before {
    content: 'Variations:';
}

.frame__heading {
    grid-area: heading;
    align-self: center;
    justify-self: start;
    width: min-content;
    display: flex;
    flex-direction: column;
    margin-top: 10vh;
}

.frame__heading h2 {
    margin: 0;
    line-height: 0.9;
    text-transform: uppercase;
    margin-left: -0.065em;
    font-size: clamp(2.5rem, 12vw, 7rem);
    letter-spacing: -0.105em;
    font-variation-settings: 'slnt' 0, 'wdth' 400, 'wght' 900, 'INKT' 400;
}

.frame__heading p {
    margin: 0;
}

.frame__credits {
    grid-area: credits;
}

.frame__author {
    display: flex;
    gap: 1.5rem;
    grid-area: author;
}

.content {
    padding: var(--page-padding);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.content--perspective {
    perspective-origin: 50% 0%;
    perspective: 1000px;
    background-color: red;
}

.text-large {
    font-size: clamp(1.5rem, 5vw, 3rem);
    max-width: 900px;
    margin: 0 0 0.85em 0;
    line-height: 1.2;
    font-variation-settings: 'slnt' 0, 'wdth' 100, 'wght' 500, 'INKT' 100;
}

.content--sticky {
    width: 100vw;
    position: sticky;
    // top: 0;
    --offset: 0px;
    top: 0;
    height: calc(100vh - 0px);
}

.content--grid,
.content--grid .content__inner {
    display: grid;
    overflow: hidden;
    grid-column-gap: 5vw;
    grid-row-gap: 2vh;
    align-content: center;
    grid-template-areas: 'content-img' 'content-title' 'content-text';
    justify-items: center;
}

.content--grid:has(.content__inner) {
    display: block;
    padding: 0;
}

.content__inner {
    width: 100%;
    height: 100%;
    border-radius: 0 0 2rem 2rem;
}

.content--card {
    display: flex;
    flex-direction: column;
    // height: 80vh;
    width: 95vw;
    max-width: 500px;
    aspect-ratio: 0.8;
    top: 10vh;
    margin: auto;
    border-radius: 14px;
    gap: 3vh;
    text-align: center;
    margin-bottom: 5vh;
}

.content--card .content__title {
    font-size: clamp(1.5rem, 4vw, 3.5rem);
}

.content--card .content__title i {
    display: block;
}

.content--half {
    display: flex;
    flex-direction: column;
    gap: 3vh;
    text-align: center;
}

.content--half:nth-child(odd) {
    margin-left: auto;
}

.content__img {
    grid-area: content-img;
    width: 50%;
    max-width: 300px;
    height: auto;
}

.content__img--large {
    width: 60%;
    height: auto;
}

.content__img--small {
    height: 35%;
    width: auto;
}

.spacer {
    margin-top: 20vh;
}

.content__title {
    grid-area: content-title;
    letter-spacing: -0.095em;
    text-transform: uppercase;
    line-height: 1;
    font-weight: normal;
    font-size: clamp(2rem, 6vw, 5rem);
    margin: 0;
    font-variation-settings: 'slnt' 0, 'wdth' 400, 'wght' 900, 'INKT' 400;
}

.content__text {
    margin: 0;
    max-width: 500px;
    grid-area: content-text;
    text-align: center;
    line-height: 1.5;
    padding: 0 1rem;
    backface-visibility: hidden;
}

.content__text--narrow {
    max-width: 300px;
}

.content--intro {
    padding-top: 25vh;
    padding-bottom: 25vh;
    z-index: 2;
}

.content--outro {
    padding-top: 50vh;
    padding-bottom: 30vh;
}

.bg-1 {
    background: white;
}
.bg-2 {
    background: #d6efd8;
}

@media screen and (min-width: 63em) {
    .content__img--large {
        width: 160%;
    }
    .content__img--left {
        justify-self: end;
    }
    .content__text--left {
        text-align: left;
        align-self: start;
    }
    .content--card {
        width: 50vw;
    }
    .content--half {
        width: 50%;
    }
}

.card_carseol {
    width: 450px;
    height: 250px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
}

.slider-container_section .slick-track {
    display: flex;
    gap: 0;
}

.slick-slide {
    filter: blur(5px);
    transition: all 0.1s ease;
}

.slick-current {
    filter: none;
    transition: all 0.1s ease;
}

.l-hero-inner {
    background-color: #00ba3f;
    padding: 50px 50px 0 50px;
    border-radius: 14px;
}

.l-hero-title {
    text-transform: uppercase;
    color: white;
}

.l-hero-content {
    max-width: 500px;
    padding: 30px 0 30px;
}

.l-hero-desc {
    color: white;
    margin-bottom: 140px;
}

.hero-btn {
    display: flex;
    flex-direction: row-reverse;
    gap: 5px;
}

.hero-btn .btn-inner {
    display: block;
    position: relative;
    text-transform: uppercase;
    font-weight: 500;
    background-color: white;
    padding: 12px;
    border-radius: 30px;
    background: #fff;
}

.hero-btn .right-up-icon {
    background-color: white;
    height: 45px;
    width: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;

    background-image: url('/static/img/up-right.png');
    background-size: 60%;
    background-repeat: no-repeat;
    background-position: center;
}

.gooo {
    display: none;
}

.l-hero {
    position: relative;
}

.offer-box {
    position: absolute;
    padding: 16px 16px 0 0;
    background-color: white;
    bottom: 0;
}

.offer-box-inner {
    border-radius: 14px;
    display: block;
    background-color: black;
    color: white;
    width: 240px;
    min-height: 160px;
}

.offer-box-inner::after {
    content: '';
    display: block;
    position: absolute;
    width: 20px;
    height: 20px;
    background-color: red;
    bottom: 176px;
    background-color: white;
}

.hero-img {
    position: relative;
    overflow: hidden;
    display: flex;
    justify-content: center;
}

.circle-ripple {
    border-radius: 100%;
    animation: ripple 0.9s linear infinite;
    position: absolute;
    width: 200px;
    height: 200px;
    bottom: 30px;
    left: 50%;
    transform: translateX(-54%);
    z-index: 0;
}

.hero-img img {
    position: relative;
    z-index: 10;
}

@keyframes ripple {
    0% {
        box-shadow: 0 0 0 0 rgba(#65ff78, 0.3), 0 0 0 1em rgba(#65ff78, 0.3),
            0 0 0 3em rgba(#65ff78, 0.3), 0 0 0 5em rgba(#65ff78, 0.3);
    }
    100% {
        box-shadow: 0 0 0 1em rgba(#65ff78, 0.3), 0 0 0 3em rgba(#65ff78, 0.3),
            0 0 0 5em rgba(#65ff78, 0.3), 0 0 0 8em rgba(#65ff78, 0);
    }
}

.daromad {
    background-color: #ffd93d;
    position: absolute;
    padding: 5px 15px;
    border-radius: 20px;
    text-transform: lowercase;
    font-size: 18px;
    left: calc(50% + 80px);
    top: calc(50% - 130px);
    transform: rotateZ(-15deg);
}

.foyda {
    position: absolute;
    padding: 5px 15px;
    border-radius: 20px;
    text-transform: lowercase;
    font-size: 18px;
    background-color: white;
    left: calc(50% + 40px);
    top: calc(50% - 60px);
    transform: rotateZ(24deg);
}

@media only screen and (max-width: 576px) {
    .l-hero-inner {
        padding: 0;
        flex-direction: column;
        background-image: url('/static/img/man.png');
        background-position: center;
        background-size: cover;
        border-radius: 12px;
        overflow: hidden;
    }

    .l-hero-content {
        backdrop-filter: blur(4px);
        padding: 60px 20px 30px;
    }

    .l-hero-title {
        font-size: 24px;
    }

    .hero-img {
        display: none;
    }

    .l-hero {
        margin-bottom: 30px;
    }

    .l-hero-desc {
        margin-bottom: 30px;
    }

    .hero-btn {
        width: 100%;
        flex-direction: row;
    }
    .btn-inner {
        flex: 1;
        text-align: center;
    }
}

.l-first-item {
    padding: 30px 20px;
}

.circles li {
    position: relative;
}

.l-first-item h4 {
    color: #4caf4f;
    font-size: 20px;
}

.l-first-item .hero-btn {
    margin-top: 35px;
    flex-direction: row;
    justify-content: flex-end;

    .btn-inner {
        background-color: #00ba3f;
        flex: 1;
        text-align: center;
    }

    .right-up-icon {
        background-color: #00ba3f;
    }
}

.l-how-title {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.har-xil-turdagi {
    display: flex;
    gap: 7px;
}

.hero-btn:hover {
    color: black;
}
