@import url('https://fonts.googleapis.com/css2?family=Inter:wght@500&family=Josefin+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,300;1,400;1,500;1,600;1,700&display=swap');
:root {
    --brand-primary: #4caf4f;
    --brand-secondary: #263238;
    --neutral-silver: #f5f7fa;
    --neutral-white: #fff;
}

* {
    box-sizing: border-box;
}

.l-navbar {
    background-color: var(--neutral-white);
}

.l-navbar-inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.l-navbar-logo {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}
.l-navbar-logo-head {
    fill: var(--brand-secondary, #263238);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}
.l-navbar-links {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    gap: 3.125rem;
    list-style: none;
    flex-wrap: wrap;
}
.l-navbar-link {
    text-decoration: none;
    color: var(--text-gray-900, #18191f);
    font-style: normal;
    font-weight: 400;
}
.l-navbar-buttons {
    display: flex;
    align-items: flex-start;
    gap: 0.875rem;
}
.l-navbar-login-button {
    display: flex;
    align-items: center;
    padding: 10px 20px;
    gap: 0.625rem;
    color: var(--brand-primary);
    text-align: center;
    font-family: Inter;
    font-weight: 500;
    border-radius: 0.4rem;
    border: none;
    background-color: var(--neutral-silver);
    border: 1px solid transparent;
}

.l-navbar-login-button:hover {
    border-color: var(--brand-primary);
}

.l-navbar-signup-button {
    display: flex;
    padding: 10px 20px;
    align-items: center;
    gap: 0.625rem;
    background-color: var(--brand-primary);
    border-radius: 0.4rem;
    border: none;
    text-align: center;
    font-family: Inter;
    font-weight: 500;
    color: white;
    border: 1px solid transparent;
}

.l-navbar-signup-button:hover {
    color: var(--brand-primary) !important;
    text-align: center;
    font-family: Inter;
    font-weight: 500;
    border-radius: 0.4rem;
    border: none;
    background-color: var(--neutral-silver);
    border: 1px solid var(--brand-primary);
}

.l-footer {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.footer-frame-1 {
    display: flex;
    padding: 2rem 0rem;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    background: var(--neutral-silver, #f5f7fa);
    align-self: stretch;
}
.footer-frame-1-text {
    color: var(--neutral-black, #263238);
    text-align: center;

    font-family: Inter;
    font-size: 4rem;
    font-style: normal;
    font-weight: 600;
    line-height: 4.75rem;
    width: 55.4375rem;
}
.footer-frame-1-button {
    display: flex;
    padding: 0.875rem 2rem;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
    border-radius: 0.25rem;
    height: 3.2rem;
    background: var(--brand-primary, #4caf4f);
    border: none;
    color: var(--neutral-white, #fff);
    text-align: center;

    font-family: Inter;
    font-size: 1rem;
    font-style: normal;
    font-weight: 500;
    line-height: 1.5rem;
}

.footer-frame-2 {
    display: flex;
    padding: 2.5rem 10.3125rem;
    align-items: flex-start;
    justify-content: space-between;
    gap: 18.8125rem;
    /* align-self: stretch; */
    width: 100%;
    height: auto;
    flex-wrap: wrap;
}
.company-info {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 2.5rem;
}
.logo-footer {
    display: flex;
    align-items: center;
    gap: 0.61819rem;
}
.copyright {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 0.5rem;
}
.copyright p {
    color: var(--neutral-silver, #f5f7fa);

    font-family: Inter;
    font-size: 0.875rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1.25rem;
}
.social-links {
    display: flex;
    align-items: flex-start;
    gap: 1rem;
}
.company-links {
    display: flex;
    align-items: flex-start;
    gap: 1.875rem;
    flex-wrap: wrap;
}
.column {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 1.5rem;
}
.head-column {
    color: var(--neutral-white, #fff);

    font-family: Inter;
    font-size: 1.25rem;
    font-style: normal;
    font-weight: 600;
    line-height: 1.75rem;
    width: 10rem;
}
.list-items {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 0.75rem;
}
.list-items p {
    color: var(--neutral-silver, #f5f7fa);
    font-family: Inter;
    font-size: 0.875rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1.25rem;
    width: 10rem;
}
.email-box #email {
    width: 15.9375rem;
    height: 2.5rem;
    border-radius: 0.5rem;
    opacity: 0.2;
    background: var(--default-white, #fff);
    border: none;
}
.email-box #email::placeholder {
    color: #d9dbe1;
    font-family: Inter;
    font-size: 0.875rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1.25rem;
}

.email-box {
    position: relative;
    display: flex;
    flex-shrink: 0;
}
.email-box img {
    position: absolute;
    top: 0.6rem;
    right: 0.8rem;
}

.l-hero {
    background-color: white;
}

.l-hero-inner {
    display: flex;
    padding: 50px 0;
    justify-content: space-between;

    .frame-1 {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        padding: 60px 0 0;
        max-width: 550px;
        gap: 10px;

        .text-1 {
            font-size: 42px;
            color: black;
            font-weight: 600;
            line-height: 44px;
            margin: 0;
        }

        .text-2 {
            font-size: 16px;
        }
    }
}

.l-how-inner {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.l-how-title {
    font-weight: 500;
    font-size: 30px;
    text-align: center;
}

.l-how {
    padding: 50px 0 60px;
}

.l-how-content {
    width: 100%;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 15px;
}

.l-how-list {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 35px;
    background-color: #fff;
    cursor: pointer;
    border-radius: 8px;

    h4 {
        color: var(--brand-primary);
        font-weight: 600;
    }

    img {
        margin-bottom: 15px;
    }

    ul {
        display: flex;
        flex-direction: column;
        list-style-type: none;
        padding: 0;

        li {
            display: flex;
            align-items: center;
            gap: 5px;
        }

        & li::before {
            content: '';
            color: var(--brand-primary);
            display: block;
            width: 18px;
            height: 18px;
            background-image: url('/static/img/check-mark.png');
            background-size: contain;
        }
    }
}

.l-how-list:nth-child(1) {
    margin-bottom: 30px;
}

.l-how-list:nth-child(2) {
    margin-top: 30px;
}

.l-how-list:nth-child(3) {
    margin-top: 30px;
}

.l-how-list:nth-child(4) {
    margin-bottom: 30px;
}

.l-app {
    background-color: white;

    background-image: url('/static/img/web-app.png');
    background-size: 1200px;
    background-repeat: no-repeat;
    background-position: calc(70% + 350px) calc(50% - 0px);
    padding: 240px 20px;
}

.l-app-inner {
    display: flex;
    justify-content: flex-start;
}

.l-app-inner .frame-2 {
    max-width: 400px;
}

.l-app-title {
    font-weight: 500;
    line-height: 40px;
}

.l-app-desc {
    font-size: 18px;
}

.l-app-btn {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border: none;
    background-image: url('/static/img/googleplay.png');
    width: 120px;
    height: 36px;
    border-radius: 4px;
}

.l-app-btn.apple {
    background-image: url('/static/img/appstore.png');
}

.l-about-inner {
    display: flex;
    flex-direction: column;
    padding: 80px 10px;
    gap: 170px;
}

.l-about-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.l-about-img {
    width: 400px;
    border-radius: 20px;
}

.l-about-content {
    max-width: 500px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.l-text-inner {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.l-text-title {
    font-weight: 500;
    font-size: 30px;
    text-align: center;
}

.l-text {
    padding: 50px 0 60px;
}

.l-text-content {
    width: 100%;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 15px;
}

.l-text-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px 15px;
    background-color: var(--neutral-silver);
    cursor: pointer;
    border-radius: 8px;
    max-width: 320px;
    text-align: center;

    h4 {
        color: var(--brand-primary);
        font-weight: 600;
        margin-bottom: 0;
    }

    img {
        margin-bottom: 15px;
        border-radius: 50%;
    }
}

.l-text {
    background-color: white;
}

.top-sellersss {
    position: relative;
    padding: 0 15px;
    font-weight: 500;

    &::before {
        // content: 'top sotuvchilarimiz';
        position: absolute;
        top: -25px;
        left: 10px;
        display: block;
        width: 240px;
        color: #4caf4f;
        // background-color: #4caf4f;
        font-size: 24px;
    }

    svg {
        position: absolute;
        left: 15px;
        top: 5px;
    }
}

.l-faq {
    background-color: white;
    padding: 60px 0;
}

.l-faq-inner {
    max-width: 800px;
    margin: 0 auto;
}

.l-faq-title {
    font-size: 32px;
    text-align: center;
    margin-bottom: 30px;
    font-weight: 500;
}

.l-faq-item {
    border-radius: 30px;
    padding: 25px;
    // box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 50px;
    // box-shadow: rgba(76, 175, 79, 0.1) 0px 10px 50px;
    box-shadow: rgba(76, 175, 79, 0.1) 0px 4px 16px,
        rgba(17, 17, 26, 0.05) 0px 8px 32px;
}

.l-faq-item {
    display: flex;
    flex-direction: column;
    gap: 20px;
    cursor: pointer;
}

.l-faq-content {
    display: none;
}

.l-faq-accordion-title {
    font-weight: 500;
}

.l-faq-content.active {
    display: block;
}

.l-faq-list {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.l-faq-accordion-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.l-first {
    padding: 50px 0;
    background-color: white;
}

.l-first-inner {
    max-width: 1360px;
    margin: 0 auto;
}

.l-first-inner .text-1 {
    text-align: center;
    margin-bottom: 50px;
    font-weight: 500;
    font-size: 36px;
}

.circles {
    display: flex;
    // flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    padding: 0;
}

.circles li {
    list-style: none;
    // max-width: 220px;
    // width: 100%;
    // height: 220px;
    animation: animate 3s linear infinite;
    padding: 15px 20px;
    overflow: hidden;
    -webkit-border-radius: 48px;
    border-radius: 48px;
    background: white;
    -webkit-box-shadow: 12px 12px 14px #f5f5f5, -12px -12px 14px #f5f5f5;
    box-shadow: 12px 12px 14px #f5f5f5, -12px -12px 14px #f5f5f5;
    display: flex;
}

@keyframes animate {
    0% {
        border-radius: 30px;
    }

    50% {
        border-radius: 20px;
    }

    100% {
        border-radius: 30px;
    }
}

.l-first-item {
    display: flex;
    flex-direction: column;
    color: #4caf4f;
}

.l-first-item span {
    font-size: 36px;
    font-weight: 200;
}

.l-first-item p {
    font-size: 16px;
    font-weight: 200;
}

.l-navbar-logo {
    width: 150px;
}

@media only screen and (max-width: 576px) {
    .l-about-item {
        flex-direction: column;
    }

    .l-navbar-logo {
        width: 100px;
    }

    .l-navbar-signup-button {
        padding: 5px 15px;
    }

    .l-navbar-login-button {
        padding: 5px 15px;
    }

    .l-hero-inner {
        padding: 20px 0;
    }

    .l-first {
        padding: 20px 0;
    }

    .l-first-inner .text-1 {
        font-size: 22px;
        margin-bottom: 20px;
    }

    .circles {
        gap: 10px;
        row-gap: 20px;
    }

    .l-how {
        padding: 30px 0;
    }

    .l-how-title {
        font-size: 26px;
    }

    .l-how-content {
        width: 100%;
        align-items: stretch;
    }

    .l-how-list img {
        margin-bottom: 0;
    }

    .l-how-list {
        padding: 8px;
        margin: 0 !important;
        align-items: center;
        width: 100%;
        flex-direction: row;
        gap: 15px;

        h4 {
            margin: 0;
        }

        ul {
            display: none;
        }
    }

    .l-app {
        padding: 20px 0 220px;
        background-size: 300px;
        background-position: calc(50% - 0px) calc(100% - 20px);
    }
    .l-app-inner .frame-2 {
        display: flex;
        align-items: center;
        flex-direction: column;
        text-align: center;
    }

    .l-app-title {
        font-size: 26px;
    }

    .l-app-desc {
        font-size: 16px;
    }

    .l-about-inner {
        gap: 30px;
        padding: 50px 0;
    }

    .l-about-item {
        align-items: flex-start;
    }

    .l-about-img {
        width: 100px;
        border-radius: 8px;
        margin-bottom: 5px;
    }

    .l-about-title {
        font-size: 22px;
        font-weight: 500;
        margin-bottom: 3px;
    }

    .l-about-content p {
        font-size: 14px;
    }

    .l-about-item:nth-child(2) {
        flex-direction: column-reverse;
    }

    .l-about-item:nth-child(4) {
        flex-direction: column-reverse;
    }

    .l-faq {
        padding: 30px 0;
    }

    .l-faq-title {
        font-size: 22px;
        margin-bottom: 20px;
    }

    .l-faq-item {
        padding: 20px;
    }

    .l-faq-accordion-title {
        font-size: 16px;
    }

    .l-text {
        padding: 25px 0;
    }

    .l-text-title {
        font-size: 22px;
        margin-bottom: 0px !important;
    }
}
