.search_navbars {
    width: 100%;
    background-color: #5C4FFF;

    .navbar_serach {
        height: 100px;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .search_button {
        top: 24px;
        left: 1086px;
        padding: 10px 30px 10px 30px;
        gap: 10px;
        border-radius: 50px;
        border: none;
        opacity: 0px;
        background: #FBFF28;
    }

    .span_search {
        font-family: Poppins;
        font-size: 18px;
        font-weight: 400;
        line-height: 32px;
        text-align: center;

    }

}

.search_home_pages {
    height: 100vh;
    background: linear-gradient(138.04deg, rgba(92, 79, 255, 0.1) 0%, rgba(255, 255, 255, 0.1) 23.51%, rgba(92, 79, 255, 0.1) 51.72%, rgba(255, 255, 255, 0.1) 89.93%, rgba(92, 79, 255, 0.1) 117.55%);

    .container {
        .search_home_box {
            padding: 50px 0;

            h1 {
                font-family: Poppins;
                font-size: 60px;
                font-weight: 500;
                line-height: 80px;
                text-align: center;

            }

            .span_saecrh {
                font-family: Poppins;
                font-size: 60px;
                font-weight: 700;
                line-height: 80px;
                text-align: center;
                color: #5C4FFF;


            }

            .ps-form--quick-search {
                max-width: 802px !important;
                margin: 0 auto;

                .ps-form__input {
                    border: 1px solid #DBDBDB;
                    border-top-left-radius: 50px;
                    border-bottom-left-radius: 50px;
                    transition: all 0.3 linear !important;

                    input {
                        border-top-left-radius: 50px;
                        border-bottom-left-radius: 50px;
                        height: 50px;
                        transition: all 0.3 linear !important;
                    }

                }

                .button_search {
                    border-top-right-radius: 50px;
                    border-bottom-right-radius: 50px;
                    background: #5C4FFF;
                    border: 1px solid #DBDBDB;
                    transition: all 0.3 linear !important;


                }

                .active_search_button {
                    border-bottom-left-radius: 0px;
                    border-top-right-radius: 20px;
                    border-bottom-right-radius: 0px;
                    transition: all 0.3 linear !important;
                }

                .active_search_input {
                    border-top-left-radius: 20px;
                    border-top-right-radius: 0px;
                    border-bottom-left-radius: 0px;
                    transition: all 0.3 linear !important;
                }
            }

        }
    }
}

.global_search_results {
    height: 100vh;

    .global_navbar {
        height: 80px;
        display: flex;
        align-items: center;

        .width_full_screen {
            max-width: 100% !important;
            width: 100%;
        }

        .ps-form--quick-search {
            max-width: 730px;
            width: 100%;
            border-radius: 50px;
            box-shadow: 0px 2px 5px 1px #403C4329;

            .ps-form__input {
                border: 1px solid #DBDBDB;
                border-top-left-radius: 50px;
                border-bottom-left-radius: 50px;

                input {
                    border-top-left-radius: 50px;
                    border-bottom-left-radius: 50px;
                    height: 45px;
                }
            }

            .button_search_icon {
                background-color: #fff;
                max-width: 60px;
                width: 100%;
                color: #4285F4;
                border-top-right-radius: 50px;
                border-bottom-right-radius: 50px;
                border: 0.3px solid #DBDBDB;

            }
        }

        .button_sign {
            font-family: Arial;
            font-size: 14px;
            font-weight: 700;
            line-height: 16px;
            height: 40px;
            text-align: left;
            padding: 9px 23px 9px 23px;
            gap: 10px;
            border-radius: 4px 0px 0px 0px;
            opacity: 0px;
            background: #1A73E8;
            color: #fff;



        }
    }
}

.global_navbar_bottom {
    border-bottom: 1px solid #DBDBDB;

    .navbar-container {
        height: 55px;
        display: flex;
        align-items: end;

        ul {
            li {
                font-family: Arial;
                font-size: 14px;
                font-weight: 400;
                line-height: 16px;
                text-align: left;
                color: #5F6368;
                padding-bottom: 8px;
                cursor: pointer;
                transition: border-bottom 0.1s linear;

            }

            .active_type {
                border-bottom: 3px solid #1A73E8;
                color: #1A73E8;
            }
        }

    }
}