.product-selection {
    width: 100%;
    min-height: 300px;
    margin: 0 0 20px 0;
    gap: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;


    .select-col {
        max-width: 330px;
        width: 100%;
        height: 250px;

        a {
            width: 100%;
            height: 100% !important;
            display: flex;
            align-items: center;
            justify-content: center;

            .select-card {
                text-align: center;
                border-radius: 5px;
                box-shadow: rgba(0, 0, 0, 0.2) 0px 60px 40px -7px;
                padding: 20px 10px 5px 10px;
                border: 1px solid #cccccc9d;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                gap: 5px;
                transition: all 0.5s;
                width: 100% !important;
                height: 100%;



                .slider {
                    scrollbar-width: none;
                    width: 100%;
                    display: flex;
                    margin: 0;
                    overflow: hidden;
                    position: relative;

                    .slide-track {
                        animation: scroll 80s linear infinite;
                        display: flex;
                        width: calc(250px * 18);
                        height: 25px !important;
                    }

                    .slide-track:hover {
                        animation-play-state: paused;
                    }

                    button {
                        height: 25px !important;
                        padding: 5px;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        margin-right: 5px;

                        span {
                            font-size: 12px;
                            margin: 0;
                            padding: 0;
                            line-height: 10px;
                            color: #5c5a5a;
                        }
                    }




                }

                .slider2 {
                    scrollbar-width: none;
                    width: 100%;
                    display: flex;
                    margin: 0;
                    overflow: hidden;
                    position: relative;

                    .slide-track2 {
                        animation: scroll2 80s linear infinite;
                        display: flex;
                        width: calc(250px * 18);
                        height: 25px !important;
                    }

                    .slide-track2:hover {
                        animation-play-state: paused;
                    }

                    button {
                        height: 25px !important;
                        padding: 5px;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        margin-right: 5px;

                        span {
                            font-size: 12px;
                            margin: 0;
                            padding: 0;
                            line-height: 10px;
                            color: #5c5a5a;
                        }
                    }




                }

                .slider3 {
                    scrollbar-width: none;
                    width: 100%;
                    display: flex;
                    margin: 0;
                    overflow: hidden;
                    position: relative;

                    .slide-track3 {
                        animation: scroll 80s linear infinite;
                        display: flex;
                        width: calc(250px * 18);
                        height: 25px !important;
                    }

                    .slide-track3:hover {
                        animation-play-state: paused;
                    }

                    button {
                        height: 25px !important;
                        padding: 5px;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        margin-right: 5px;

                        span {
                            font-size: 12px;
                            margin: 0;
                            padding: 0;
                            line-height: 10px;
                            color: #5c5a5a;
                        }
                    }




                }


                .slider::before,
                .slider::after {
                    background: linear-gradient(to right, #fff 0%, rgba(255, 255, 255, 0) 100%);
                    content: "";
                    height: 100%;
                    position: absolute;
                    z-index: 2;
                    width: 60px;
                }

                .slider2::before,
                .slider2::after {
                    background: linear-gradient(to right, #fff 0%, rgba(255, 255, 255, 0) 100%);
                    content: "";
                    height: 100%;
                    position: absolute;
                    z-index: 2;
                    width: 60px;
                }


                .slider3::before,
                .slider3::after {
                    background: linear-gradient(to right, #fff 0%, rgba(255, 255, 255, 0) 100%);
                    content: "";
                    height: 100%;
                    position: absolute;
                    z-index: 2;
                    width: 60px;
                }




                .slider::after {
                    right: 0;
                    top: 0;
                    -webkit-transform: rotateZ(180deg);
                    transform: rotateZ(180deg);
                }

                .slider::before {
                    left: 0;
                    top: 0;
                }

                .slider2::after {
                    right: 0;
                    top: 0;
                    -webkit-transform: rotateZ(180deg);
                    transform: rotateZ(180deg);
                }

                .slider2::before {
                    left: 0;
                    top: 0;
                }

                .slider3::after {
                    right: 0;
                    top: 0;
                    -webkit-transform: rotateZ(180deg);
                    transform: rotateZ(180deg);
                }

                .slider3::before {
                    left: 0;
                    top: 0;
                }


                @keyframes scroll {
                    0% {
                        transform: translateX(0);
                    }

                    100% {
                        transform: translateX(calc(-250px * 9));
                    }
                }

                @keyframes scroll2 {
                    0% {
                        transform: translateX(calc(-250px * 9));
                    }

                    100% {
                        transform: translateX(0);
                    }
                }



                i {
                    transition: all 0.9s;
                    font-size: 65px;
                    color: #b6b3b3;
                }

                span {
                    font-size: 17px;
                    font-weight: 600;
                }


                &:hover {
                    i {
                        color: $color-1st;
                        opacity: .8;
                    }

                    cursor: pointer;
                    box-shadow: rgba(0, 0, 0, 0.4) 0px 30px 90px;
                }
            }
        }
    }
}

.products_title {
    margin-top: 20px;
}


@media (max-width:1024px) {
    .product-selection {
        .select-col {
            a {
                .select-card {
                    box-shadow: rgba(0, 0, 0, 0.2) 0px -10px 50px -10px;
                }
            }
        }
    }
}

@media (max-width:500px) {
    .products_title {
        font-size: 26px;
        margin-bottom: 20px;

    }
}