.click {
    padding: 0 10px;
    img {
        box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
        width: 120px;
        border-radius: 10px;
        height: 80px;
        transition: 0.5s cubic-bezier(0.4, 0, 0.2, 1);
        object-fit: contain;
        &:hover {
            background-color: #EFEFEF;
        }
    }
}

.ant-tabs .ant-tabs-tab+.ant-tabs-tab{
    margin: 0 !important;
}