.click {
    padding: 0 10px;
    img {
        border: 0.1px solid #312f30;
        width: 120px;
        border-radius: 10px;
        height: 80px;
        transition: 0.5s cubic-bezier(0.4, 0, 0.2, 1);
        object-fit: contain;
        &:hover {
            background-color: rgba(0, 210, 101, 0.1);
            border: 3px solid rgba(0, 210, 101, 0.5);
        }
        &:active {
            border: 3px solid rgba(0, 210, 101, 0.5);
            background: rgba(0, 210, 101, 0.1);
        }
    }
}

.ant-tabs .ant-tabs-tab + .ant-tabs-tab {
    margin: 0 !important;
}

.order-tabs .ant-tabs-nav {
    padding: 0 !important;

    .ant-tabs-nav-list {
        gap: 5px !important;

        .ant-tabs-tab-active {
            border: 1px solid $color-1st !important;
            box-shadow: 0 20px 20px rgba(0, 210, 101, 0.2);
            border-radius: 7px;
        }

        // @media (max-width: 600px) {
        //     .ant-tabs-tab {
        //         font-size: 12px !important;
        //         padding: 6px 10px !important;
        //         height: 35px !important;
        //     }

        //     .ant-tabs-nav-wrap {
        //         height: 40px !important;
        //     }
        // }
    }

    .ant-tabs-nav-operations {
        font-size: 20px;
    }
}

.container-deal {
    max-width: 950px;
    width: 100%;
    margin: 0 auto;
}
