.tolov-usullari {
    display: flex;
    align-items: start;
    justify-content: center;
    flex-direction: column;
    gap: 20px;
    .payme-logo {
        object-fit: cover;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        gap: 20px;
        img{
           max-width: 300px;
           width: 100%; 
        }
    }
}

// banner mobile uchun

.banner-right{
    display: flex;
    flex-direction: column;
}

@include media('<lg') {
    .banner-right{
        display: flex;
        flex-direction: row !important;
        a{
            display:block;
        }
    }  
    .banner-left-one{
        height: min-content;
    }
    
.ps-collection {
    display: block;

    img {
        width: 100%;
        max-width: 441px;
        min-width: 441px;
        max-height: 191px;
        min-height: 191px;
        object-fit: cover;
    }
}

.top-category-items{
   min-height: 173px;
//    max-height: 160px;
}
.yaxshi-categoriyalar-image{
    min-height: 100px;
    max-height: 100px;
}

.ps-product__thumbnail {

    min-height: 120px;
    position: relative;
    overflow: hidden;

    img {
        width: 100%;
        min-width: 105px;
        max-width: 150px;
    }

    .ps-wrapper {
        position: relative;
        text-align: center;
        img{
            max-width: 300px;
            width: 100%;
        }
    }
}
.ps-product--cart-mobile {
    display: flex;
    flex-flow: row nowrap;

    > * {
        width: 100%;
    }

    .ps-product__thumbnail {
        max-width: 126px;
    }

    .ps-product__content {
        position: relative;
        padding-right: 30px;
        padding-left: 20px;

        .ps-product__remove {
            position: absolute;
            top: 0;
            right: 0;
            font-size: 18px;
            color: $color-text;
        }

        a {
            color: #06c;

            &:hover {
                color: $color-1st;
            }
        }

        p {
            strong {
                color: $color-heading;
                font-weight: 500;
            }
        }

        small {
            font-size: 14px;
            color: $color-heading;
        }
    }
    .ps-cart__footer{
        bottom: 0 !important;
    }
}

.ps-product--search-result{
    .ps-product__thumbnail {
        max-width: 125px;
        width: 100%;
    }
    margin: 10px;
    
} 

.ps-product--cart{
    .ps-product__thumbnail{
        display: flex;
        align-items: center;
        img{
            min-width: 95px;
        }
    }
}
.ps-btn{
    padding: 12px 19px;
}

}

