.tolov-usullari {
    display: flex;
    align-items: start;
    justify-content: center;
    flex-direction: column;
    gap: 20px;

    .payme-logo {
        object-fit: cover;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: start;
        gap: 20px;

        img {
            max-width: 300px;
            width: 100%;
        }
    }
}

.banner-left-one {
    height: min-content;

    a {
        img {
            width: 100%;
            height: 370px;
        }
    }
}

// banner mobile uchun

.banner-right {


    display: flex;
    flex-direction: column;
}

.ps-product {
    margin: 15px 0 !important;
}

.pagination-product-box {
    min-height: 430px;
    max-height: 430px;
}

.products-image1 {
    max-height: 120px;
    height: 100px;
    width: 180px;
    // width: 100%;
    background-size: cover;
    background-position: center;
}

.carosusel-cards {
    gap: 15px;
}

.ps-product--cart {
    .ps-product__content {
        .ps-product__title {
            padding-left: 80px;
        }
    }
}

.ps-product--cart-mobile {
    margin-bottom: 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid #eaeaea;

    &:last-child {
        border-bottom: none;
    }

    .products-image1 {
        width: 90px;
        height: 80px;
    }
}

.ps-table--whishlist {
    .ps-product--cart {
        margin: 10px 0;
    }
}

.ps-product--search-result {
    .ps-product__content {
        margin: auto 0;
    }
}

.tanishuv-chekbox {
    display: flex;
    gap: 10px;
}

.banner-placholder {
    display: flex;
    flex-direction: column;
    gap: 30px;

    #banner-placholder-item {
        width: 100%;
        height: 170px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}
.dropdown-toggle{
    &::after{
        margin-top: 10px;
    }
}
.tanishuv-sharti-title{
    color: #EEAE00;
}

.accordion{
    --bs-accordion-bs: #fffcfced
}

.category-list-item{
    background-color: #fffcfced;
    padding: 6px;
}

.accordion-button{
    font-weight: 400;
    font-size: 13px;
}


.add-product-user-image{
    
    input{
        opacity: 0;
    }
}

@include media('<lg') {
    .carosusel-cards {
        justify-content: center;
    }

    .home-card {
        max-width: 237px;
        min-height: 200px;
        max-height: 200px;
    }

    .products-image1 {
        height: 100px;
        width: 130px;
    }

    .ps-pagination {
        padding-top: 250px;
    }

    .banner-right {
        display: flex;
        flex-direction: row !important;

        a {
            display: block;
        }

        .ps-collection {
            display: block;

            img {
                width: 100%;
                max-width: 441px;
                min-width: 441px;
                max-height: 191px;
                min-height: 191px;
                object-fit: cover;
            }
        }
    }

    .banner-left-one {
        height: min-content;
    }

    .banner-placholder {
        display: flex;
        flex-direction: row;
        gap: 30px;

        #banner-placholder-item {
            width: 450px;
            height: 170px;
            display: flex;
            justify-content: center;
            align-items: center;
        }
    }

    .top-category-items {
        min-height: 173px;
        //    max-height: 160px;
    }

    .yaxshi-categoriyalar-image {
        min-height: 100px;
        max-height: 100px;
    }

    .ps-product__thumbnail {
        min-height: 120px;
        position: relative;
        overflow: hidden;

        img {
            width: 100%;
            min-width: 105px;
            max-width: 150px;
        }

        .ps-wrapper {
            position: relative;
            text-align: center;

            img {
                max-width: 300px;
                width: 100%;
            }
        }
    }

    .ps-product--cart-mobile {
        display: flex;
        flex-flow: row nowrap;

        >* {
            width: 100%;
        }

        .ps-product__thumbnail {
            max-width: 126px;
        }

        .ps-product__content {
            position: relative;
            padding-right: 30px;
            padding-left: 20px;

            .ps-product__remove {
                position: absolute;
                top: 0;
                right: 0;
                font-size: 18px;
                color: $color-text;
            }

            a {
                color: #06c;

                &:hover {
                    color: $color-1st;
                }
            }

            p {
                strong {
                    color: $color-heading;
                    font-weight: 500;
                }
            }

            small {
                font-size: 14px;
                color: $color-heading;
            }
        }

        .ps-cart__footer {
            bottom: 0 !important;
        }
    }

    .ps-product--search-result {
        .ps-product__thumbnail {
            max-width: 125px;
            width: 100%;
        }

        margin: 10px;

        .ps-product__content {
            margin: auto 0;
        }
    }

    .ps-product--cart {
        .ps-product__thumbnail {
            display: flex;
            align-items: center;

            img {
                min-width: 95px;
            }
        }
    }

    .ps-btn {
        padding: 12px 19px;
    }

    .ps-product:hover {
        .ps-product__actions {
            display: none;
        }

        .ps-product__content {
            visibility: visible;
            opacity: 1;
            height: auto;
        }

        .ps-product__thumbnail {
            img {
                margin: 0 auto;
            }
        }
    }
}

@include media('<md') {
    .ps-pagination {
        padding-top: 200px;
    }

    .products-image1 {
        height: 80px;
        width: 100px;
    }

    .carosusel-cards {
        gap: 0px;
    }

    .ps-product--cart {
        .ps-product__content {
            .ps-product__title {
                padding-left: 10px;
            }
        }
    }

    .banner-placholder {
        display: flex;
        flex-direction: row;
        gap: 30px;

        #banner-placholder-item {
            width: 327px;
            height: 170px;
            display: flex;
            justify-content: center;
            align-items: center;
        }
    }

    .banner-right {
        display: flex;
        flex-direction: row !important;

        a {
            display: block;
        }

        .ps-collection {
            display: block;

            img {
                width: 100%;
                max-width: 323px;
                min-width: 323px;
                max-height: 191px;
                min-height: 191px;
                object-fit: cover;
            }
        }
    }

    .ps-btn {
        padding: 7px 6px;
    }

    .yaxshi-categoriyalar-image {
        min-height: 60px;
        max-height: 90px;
    }

    .ps-block__content {
        h4 {
            font-size: 14px;
        }
    }

    .top-category-items {
        min-height: 140px;
    }

    .ps-product__thumbnail {
        img {
            min-width: 80px;
            max-width: 100px;
        }
    }

    .ps-product {
        .ps-product__thumbnail {
            margin: 0 auto;
            min-height: 80px;
        }
    }

    .ps-product:hover {
        .ps-product__actions {
            display: none;
        }

        .ps-product__content {
            visibility: visible;
            opacity: 1;
            height: auto;
        }

        .ps-product__thumbnail {
            a {
                img {
                    margin: 0 auto !important;
                }
            }
        }
    }

    .ps-product--cart {
        max-width: 150px;
        width: 100%;

        .ps-product__content {
            padding-left: 10px;
            max-width: 80px;
        }
    }

    .ps-table--whishlist {
        tbody {
            tr {
                td {
                    max-width: 150px;
                }
            }
        }
    }
}

@include media('<sm') {
    .banner-placholder {
        display: flex;
        flex-direction: row;
        gap: 30px;

        #banner-placholder-item {
            width: 240px;
            height: 170px;
            display: flex;
            justify-content: center;
            align-items: center;
        }
    }

    .products-image1 {
        height: 60px;
        width: 80px;
    }

    .banner-right {
        display: flex;
        flex-direction: row !important;

        .ps-collection {
            display: block;

            img {
                width: 100%;
                min-width: 250px;
                max-height: 191px;
                min-height: 191px;
                object-fit: cover;
            }
        }
    }

    .ps-product__thumbnail {
        a {
            img {
                margin: 0 auto;
            }
        }
    }

    .ps-block--category-2 .ps-block__content {
        padding: 8px 2px 15px;
    }

    .top-category-items {
        min-height: 130px;
    }

    .ps-product {
        .ps-product__thumbnail {
            min-height: 60px;
        }
    }

    .home-card {
        min-height: auto;
    }

    .ps-block--category-2 .ps-block__content {
        padding: 8px 2px 8px;
    }

    .yaxshi-categoriyalar-image {
        width: auto !important;
    }

    .card-narx-box {
        padding: 0 10px;
    }

    .ps-block__right {
        h4 {
            font-size: 16px;
        }

        p {
            font-size: 13px;
        }
    }
}

@media screen and (max-width:768px){
    .colCard{
        margin-top: 5rem;
    }
}

@media screen and (max-width: 544px) {
    .banner-placholder {
        display: flex;
        flex-direction: row;
        gap: 30px;

        #banner-placholder-item {
            // max-width: 200px;
            width: 240px;
            height: 100px;
            display: flex;
            justify-content: center;
            align-items: center;
        }
    }
}

@media screen and (max-width: 524px) {
    .banner-right {
        display: flex;
        flex-direction: row !important;

        .ps-collection {
            display: block;

            img {
                width: 100%;
                max-width: 213px;
                min-width: 213px;
                max-height: 191px;
                min-height: 191px;
                object-fit: cover;
            }
        }
    }

    .banner-placholder {
        display: flex;
        flex-direction: row;
        gap: 30px;

        #banner-placholder-item {
            max-width: 230px;
            width: 100%;
            height: 191px;
            display: flex;
            justify-content: center;
            align-items: center;
        }
    }

    .ps-block--category-2 .ps-block__content {
        padding: 8px 2px 8px;
    }

    .ps-product__thumbnail {
        min-height: 90px;
        height: 100%;
        max-width: 80px;
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 0 auto;

        a {
            margin: 0 auto;
        }
    }

    .card-narx-box {
        text-align: center;
        font-size: 12px;

        a {
            margin: 0 auto;
        }
    }
}

@media screen and (max-width: 520px) {
    .banner-placholder {
        display: flex;
        flex-direction: row;
        gap: 10px;

        #banner-placholder-item {
            width: 220px;
            height: 100px;
            display: flex;
            justify-content: center;
            align-items: center;
        }
    }
}

@media screen and (max-width: 477px) {

    .ps-section__righ{
        justify-content: center;
    }
    .banner-placholder {
        display: flex;
        flex-direction: row;
        gap: 10px;
        #banner-placholder-item {
            width: 200px;
            height: 100px;
            display: flex;
            justify-content: center;
            align-items: center;
        }
    }
}

@media screen and (max-width: 494px) {
    .banner-right {
        display: flex;
        flex-direction: row !important;

        .ps-collection {
            display: block;

            img {
                width: 100%;
                min-width: 107px;
                object-fit: cover;
            }
        }
    }

    .banner-left-one {
        height: min-content;

        a {
            img {
                width: 100%;
                max-height: 200px;
            }
        }
    }

    .ps-product__thumbnail {
        min-height: 80px;
        height: 100%;
        max-width: 60px;
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 0 auto;

        a {
            margin: 0 auto;
        }
    }

    .ps-product__container {
        min-width: 130px;
        max-width: 113px;
        margin: 0 auto;
        text-align: center;
    }

    .ps-product-list {
        .ps-section__content {
            padding-top: 25px;
        }
    }

    .carosusel-cards {
        flex-wrap: wrap !important;
    }

    .home-card {
        padding: 15px 0;
    }

    .ps-product__actions {
        a {
            display: flex !important;
            justify-content: center !important;
        }
    }
}

@media screen and (max-width: 441px) {

    .ps-section__righ{
        justify-content: center;
    }
    .banner-placholder {
        display: flex;
        flex-direction: row;
        gap: 10px;
        #banner-placholder-item {
            width: 150px;
            height: 100px;
            display: flex;
            justify-content: center;
            align-items: center;
        }
    }
}

@media screen and (max-width: 441px) {

    .ps-section__righ{
        justify-content: center;
    }
    .banner-placholder {
        display: flex;
        flex-direction: row;
        gap: 10px;
        #banner-placholder-item {
            width: 130px;
            height: 100px;
            display: flex;
            justify-content: center;
            align-items: center;
        }
    }
}



@media screen and (max-width: 425px) {
    .ps-product__container {
        min-width: 185px;
    }
}


@media screen and (max-width: 404px) {
    .ps-product__container {
        min-width: 175px;
    }
}

@media screen and (max-width: 384px) {
    .ps-product__container {
        min-width: 160px;
    }
}

@media screen and (max-width: 353px) {
    .ps-product__thumbnail {
        margin: 0 auto;
    }

    .ps-product__container {
        min-width: 140px;
        width: 100%;
    }

    .ps-product {
        min-width: 150px;
    }
}

@media screen and (max-width: 329px) {
    .ps-product__thumbnail {
        margin: 0 auto;
    }

    .ps-product__container {
        min-width: 120px;
        width: 100%;
    }

    .ps-product {
        min-width: 140px;
    }

    .hover {
        display: none;
    }
}

* {
    scrollbar-width: thin;
    scrollbar-color: #41418f #bcb4b4;
}

*::-webkit-scrollbar {
    display: flex;
    width: 5px;
    height: 5px;
}

*::-webkit-scrollbar-thumb {
    background: #ffc107;
}

*::-webkit-scrollbar-track {
    background: #dadbe1;
}



.formCard {
    border-radius: 10px;
    box-shadow: -1px 8px 15px 0px rgba(0, 0, 0, 0.44);
}
#Card{
    margin: 0 auto;
    height: 183px;
}
.colCard{
    position: absolute;
    top: 52%;
}


/* rccs-signature-background: repeating-linear-gradient(
    0.1deg,
    #fff 20%,
    #fff 40%,
    #fea 40%,
    #fea 44%,
    #fff 44%
  );
  rccs-default-background: linear-gradient(25deg, #d32121, #178a63);
  rccs-unknown-background: linear-gradient(25deg, rgb(160, 18, 101), #999);
  rccs-background-transition: 0.5s;
  rccs-animate-background: true; */

.BackImg {
    background-image: url('../../public/static/CardCredit/humo_.png');
    background-size: 100%;
    background-position: center;
    border-radius: 10px;
    max-width: 300px;
}

.BackImg1 {
    background-image: url('../../public/static/CardCredit/cartaDD.jpg');
    background-size: 100%;
    background-position: center;
    border-radius: 10px;
    max-width: 300px;
}

.BackImg2 {
    background-image: url('../../public/static/CardCredit/png.png');
    background-size: 100%;
    background-position: center;
    border-radius: 10px;
    max-width: 300px;
}

.cardText {
    font-family: monospace;
    color: #bcb4b4;
    font-size: 17px;
}
.cardColorHumo{
    color:#ffc107;
}
.add-product-user-image{
    
    input{
        opacity: 0;
    }
}