.socket_navbar:hover {
    color: #fff;
}

.yashil {
    color: $color-1st;
}

.btn_color {
    color: #fff !important;
}

.tolov-usullari {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    gap: 20px;

    .payme-logo {
        object-fit: contain;
        max-width: 130px;
        // width: 100%;
        display: flex;
        align-items: center;
        justify-content: flex-start;
        gap: 10px;

        div {
            padding-left: 25px !important;
        }

        img {
            max-width: 300px;
            width: 100%;
        }
    }
}

@media (min-width:375px) and (max-width:500px) {
    .tolov-usullari {
        div {
            p {
                font-size: 12px !important;
            }
        }
    }
}

@media (max-width:375px) {
    .tolov-usullari {
        div {
            p {
                font-size: 10px !important;
            }
        }
    }
}


.banner-left-one {
    height: min-content;

    a {
        width: 100%;

        span {
            width: 100% !important;
        }

        img {
            width: 100%;
            height: 370px;
        }
    }
}

// banner mobile uchun

.banner-right {
    display: flex;
    flex-direction: column;
}

.ps-product {
    margin: 15px 0 !important;
    width: 100%;
}

.pagination-product-box {
    min-height: 430px;
    // max-height: 430px;
}

.products-image1 {
    max-height: 120px;
    height: 100px;
    // width: 180px;
    // background-size: cover;
    // background-position: center;
    margin: 0 auto;
    transition: 0.5s;

    &:hover {
        transform: scale(1.1);
    }
}

.carosusel-cards {
    gap: 15px;
}

.ps-product--cart-mobile {
    margin-bottom: 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid #eaeaea;

    &:last-child {
        border-bottom: none;
    }

    .products-image1 {
        width: 90px;
        height: 80px;
    }
}

.ps-table--whishlist {
    .ps-product--cart {
        margin: 10px 0;

        .ps-product__thumbnail {
            a {
                .products-image1 {
                    width: 95px;
                }
            }
        }
    }
}

.ps-product--search-result {
    .ps-product__content {
        margin: auto 0;
    }
}

.tanishuv-chekbox {
    display: flex;
    gap: 10px;
}

.banner-placholder {
    display: flex;
    flex-direction: column;
    gap: 30px;

    #banner-placholder-item {
        width: 100%;
        height: 170px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

.dropdown-toggle {
    &::after {
        margin-top: 10px;
    }
}

.tanishuv-sharti-title {
    color: $color-1st;
}

.accordion {
    --bs-accordion-bs: #fffcfced;
}

.category-list-item {
    background-color: #fffcfced;
    padding: 6px;
}

.ck-toolbar__items {
    .ck-file-dialog-button {
        display: none !important;
    }
}

.accordion-button {
    font-weight: 400;
    font-size: 13px;
}

.add-product-user-image {
    input {
        opacity: 0;
    }
}

.ck-editor__editable_inline {
    min-height: 150px;
}

.ant-select-selection-overflow {
    min-height: 40px;
}

.live-card_title {
    padding: 40px 0;
}

.mahsulotingiz {
    display: none;
}

.cardResponsive {
    display: block;
}

.yuborish {
    color: #fff !important;

    &:hover {
        background-color: #000 !important;
    }
}

.ps-product__content--search {
    max-width: 420px;
    width: 100%;
}

.fixed-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ffc107;
    color: #fff;
    width: 60px;
    height: 60px;
    border-radius: 50%;
}

.text-start {
    padding: 0 10px !important;
}

// .ant-select {
//     max-height: 70px !important;
// }

.live-card-image {
    max-height: 200px;
    width: 100%;
    background-size: cover;
    background-position: center;
}

.image {
    width: 100%;
    min-height: 250px;
    background-size: cover;
    background-position: center !important;
    background-repeat: no-repeat;
    background-clip: border-box;
}

.ps-product {
    .ps-product__thumbnail {
        img {
            height: 100px !important;
        }
    }

    .ps-product__container {
        text-align: center;
        width: 100%;
    }
}

.hujjat-detail-full-image {
    height: 370px;
}

.category-search-label {
    position: relative;
    margin: 0 10px;

    input {
        padding: 8px 15px 8px 35px;
        transition: all 0.4s ease;
        border: 1px solid #dddddd;

        &:focus {
            border: 1px solid $color-1st
        }
    }

    .search-label {
        position: absolute;
        top: 50%;
        left: 10%;
        transform: translate(-50%, -50%);
    }
}

.ps-product--search-result {
    .ps-product__thumbnail {
        a {
            .products-image1 {
                width: 90px;
            }
        }
    }
}

.cart-product {
    .ps-product--cart {
        .ps-product__thumbnail {
            a {
                .products-image1 {
                    width: 95px;
                }
            }
        }
    }
}

.ps-product--cart {
    .ps-product__thumbnail {
        a {
            .products-image1 {
                width: 95px;
            }
        }
    }
}

.chegirma-xato {
    border: 1px solid red !important;
}

// .ps-product:hover {
//     height: 150px;
//     // text-align: center;
// }

#homepage-7 .ps-product-list {
    margin-bottom: 80px;
}

.ps-block--shopping-total {
    .ps-block__product {
        .ps-block__estimate a:first-child {
            display: block;
            width: 70% !important;
            padding-right: 10px;
        }
    }
}

#acc-li-xl {
    padding: 3px 10px;
}

.accordion-button {
    padding: 10px 7px;
}

.footer-left-a {
    border: 1px solid #fff;
    border-radius: 50%;
    padding: 10px;
    height: 40px;
    width: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer-icon-parent-div {
    display: flex;
    align-items: center;
    gap: 10px;
}

.footer-right-ul-social {
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    gap: 10px;
}

.yaxshi-categoriyalar-image {
    transition: 0.5s;

    &:hover {
        transform: scale(1.1);
    }
}

.ps-product {
    max-height: 200px;
    height: 100%;
    border: 1px solid #00000005;
    box-shadow: 0px 0px 15px -15px black;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

:where(.css-dev-only-do-not-override-17a39f8).ant-notification {
    z-index: 9999999999 !important;
}

#heart-danger {
    color: red !important;
}

.ps-wrapper {
    position: relative;
    text-align: center;
    overflow-y: scroll;
    height: 100%;
    max-height: 350px !important;

    img {
        max-width: 300px;
        width: 100%;
    }
}

.views {
    position: absolute;
    top: 0;
    background-color: #f1f1f1;
    padding: 8px;
    border-radius: 3px;
}

.view-quik {
    top: 50px !important;
}

.footer-company-logo {
    width: 80px;
}

.home-card-category {
    margin-bottom: 42px;
}

.home-card {
    margin-bottom: 42px;
}

@include media('<lg') {
    .responsive-image-card {
        display: flex;
        justify-content: center;
    }

    .ant-float-btn-default {
        bottom: 90px;
    }

    .cardResponsive {
        display: none;
    }

    #homepage-7 .ps-product-list {
        margin-bottom: 80px;
    }

    .acc-li {
        padding: 5px 5px 0 5px;
    }

    .accordion-button {
        padding: 5px 8px;
    }

    .ps-product {
        .ps-product__thumbnail {
            img {
                height: 75px !important;
            }
        }

        &:hover {
            .ps-product__content.hover {
                padding-bottom: 0;
            }
        }
    }

    .ps-product__actions {
        display: none;
    }

    .carosusel-cards {
        justify-content: space-around;
    }

    // .home-car{
    //     max-width: 230px;
    //     min-width: 150px;
    //     width: 100%;
    //     min-height: 200px;
    //     max-height: 200px;
    // }

    .products-image1 {
        height: 100px;
        width: 130px;
    }

    .ps-pagination {
        padding-top: 250px;
    }

    .banner-right {
        display: flex;
        flex-direction: row !important;

        a {
            display: block;
        }

        .ps-collection {
            display: block;

            img {
                width: 100%;
                max-width: 441px;
                min-width: 441px;
                max-height: 191px;
                min-height: 191px;
                object-fit: cover;
            }
        }
    }

    .banner-left-one {
        height: min-content;
    }

    .banner-placholder {
        display: flex;
        flex-direction: row;
        gap: 30px;

        #banner-placholder-item {
            width: 450px;
            height: 170px;
            display: flex;
            justify-content: center;
            align-items: center;
        }
    }

    .top-category-items {
        // min-height: 173px;
        //    max-height: 160px;
    }

    .yaxshi-categoriyalar-image {
        // min-height: 100px;
        max-height: 100px;
        height: 100%;
        width: 80px;
    }

    .ps-product__thumbnail {
        min-height: 120px;
        position: relative;
        overflow: hidden;

        img {
            width: 100%;
            min-width: 105px;
            max-width: 150px;
        }

        .ps-wrapper {
            position: relative;
            text-align: center;

            img {
                max-width: 300px;
                width: 100%;
            }
        }
    }

    .ps-product--cart-mobile {
        display: flex;
        flex-flow: row nowrap;

        >* {
            width: 100%;
        }

        .ps-product__thumbnail {
            max-width: 126px;
        }

        .ps-product__content {
            position: relative;
            padding-right: 30px;
            padding-left: 20px;

            .ps-product__remove {
                position: absolute;
                top: 0;
                right: 0;
                font-size: 18px;
                color: $color-text;
            }

            a {
                color: #06c;

                &:hover {
                    color: $color-1st;
                }
            }

            p {
                strong {
                    color: $color-heading;
                    font-weight: 500;
                }
            }

            small {
                font-size: 14px;
                color: $color-heading;
            }
        }

        .ps-cart__footer {
            bottom: 0 !important;
        }
    }

    .ps-product--search-result {
        .ps-product__thumbnail {
            max-width: 125px;
            width: 100%;
        }

        margin: 10px;

        .ps-product__content {
            margin: auto 0;
        }
    }

    .ps-product--cart {
        .ps-product__thumbnail {
            display: flex;
            align-items: center;

            img {
                min-width: 95px;
            }
        }
    }

    .ps-btn {
        padding: 12px 19px;
    }

    .ps-product:hover {
        .ps-product__actions {
            display: none;
        }

        .ps-product__content {
            visibility: visible;
            opacity: 1;
            height: auto;
        }

        .ps-product__thumbnail {
            img {
                margin: 0 auto;
            }
        }
    }

    .hujjat-detail-full-image {
        height: 350px;
    }
}

@include media('>lg') {
    .responsiveCardButton {
        position: absolute;
        bottom: 15px;
        left: 80%;
        width: 140px;
    }
}

@media screen and (max-width: 1060px) {
    .detail-card {
        max-width: 230px;
    }
}

@include media('<md') {
    .cardResponsive {
        display: none;
    }

    #homepage-7 {
        .ps-product-list {
            margin-bottom: 80px;
        }
    }

    .ps-input {
        width: 100%;
    }

    .ps-pagination {
        padding-top: 200px;
    }

    .products-image1 {
        height: 80px;
        width: 100px;
    }

    .carosusel-cards {
        gap: 0px;
    }

    .ps-product--cart {
        .ps-product__content {
            .ps-product__title {
                padding-left: 10px;
            }
        }
    }

    .banner-placholder {
        display: flex;
        flex-direction: row;
        gap: 30px;

        #banner-placholder-item {
            width: 327px;
            height: 170px;
            display: flex;
            justify-content: center;
            align-items: center;
        }
    }

    .banner-right {
        display: flex;
        flex-direction: row !important;

        a {
            display: block;
        }

        .ps-collection {
            display: block;

            img {
                width: 100%;
                max-width: 323px;
                min-width: 323px;
                max-height: 151px;
                min-height: 151px;
                object-fit: cover;
            }
        }
    }

    .ps-btn {
        padding: 7px 6px;
    }

    .ps-block__content {
        h4 {
            font-size: 14px;
        }
    }

    .top-category-items {
        min-height: 140px;
    }

    .ps-product__thumbnail {
        img {
            min-width: 80px;
            max-width: 100px;
        }
    }

    .ps-product {
        .ps-product__thumbnail {
            margin: 0 auto;
            min-height: 80px;
        }
    }

    .ps-product:hover {
        .ps-product__actions {
            display: none;
        }

        .ps-product__content {
            visibility: visible;
            opacity: 1;
            height: auto;
        }

        .ps-product__thumbnail {
            a {
                img {
                    margin: 0 auto !important;
                }
            }
        }
    }

    .ps-product--cart {
        max-width: 150px;
        width: 100%;

        .ps-product__content {
            padding-left: 10px;
        }
    }

    .ps-table--whishlist {
        tbody {
            tr {
                td {
                    max-width: 150px;
                }
            }
        }
    }
}

@media screen and (max-width: 719px) {
    .detail-card {
        max-width: 200px;
    }
}

@media screen and (max-width: 629px) {
    .detail-card {
        max-width: 150px;
    }
}

@include media('<sm') {
    // .ps-product {
    //     height: 140px;
    // }

    .banner-placholder {
        display: flex;
        flex-direction: row;
        gap: 30px;

        #banner-placholder-item {
            width: 240px;
            height: 170px;
            display: flex;
            justify-content: center;
            align-items: center;
        }
    }

    .products-image1 {
        height: 75px;
        width: 90px;
    }

    .banner-right {
        display: flex;
        flex-direction: row !important;

        .ps-collection {
            display: block;

            img {
                width: 100%;
                min-width: 250px;
                max-height: 191px;
                min-height: 191px;
                object-fit: cover;
            }
        }
    }

    .ps-product__thumbnail {
        a {
            img {
                margin: 0 auto;
            }
        }
    }

    .ps-block--category-2 .ps-block__content {
        padding: 0;
    }

    .top-category-items {
        min-height: 120px;
    }

    .ps-product {
        .ps-product__thumbnail {
            min-height: 65px;
        }
    }

    // .home-car{
    //    min-width: 105px;
    // }

    .ps-block--category-2 .ps-block__content {
        padding: 0;
    }

    // .yaxshi-categoriyalar-image {
    //     width: auto !important;
    // }

    .card-narx-box {
        padding: 0 10px;
        text-align: center;
    }

    .ps-block__right {
        h4 {
            font-size: 16px;
        }

        p {
            font-size: 13px;
        }
    }

    .hujjat-detail-full-image {
        height: 300px;
    }
}

@include media('<xs') {
    .hujjat-detail-full-image {
        height: 200px;
    }

    #homepage-7 .ps-product-list {
        margin-bottom: 60px;
    }

    .home-card {
        margin: 10px 0;
    }
}

@media screen and (max-width: 544px) {
    .banner-placholder {
        display: flex;
        flex-direction: row;
        gap: 30px;

        #banner-placholder-item {
            // max-width: 200px;
            width: 240px;
            height: 100px;
            display: flex;
            justify-content: center;
            align-items: center;
        }
    }
}

@media screen and (max-width: 524px) {
    .ps-product-list .ps-section__content {
        padding-top: 0;
    }

    .banner-right {
        display: flex;
        flex-direction: row !important;

        .ps-collection {
            display: block;

            img {
                width: 100%;
                max-width: 213px;
                min-width: 213px;
                max-height: 191px;
                min-height: 191px;
                object-fit: cover;
            }
        }
    }

    .banner-placholder {
        display: flex;
        flex-direction: row;
        gap: 30px;

        #banner-placholder-item {
            max-width: 230px;
            width: 100%;
            height: 191px;
            display: flex;
            justify-content: center;
            align-items: center;
        }
    }

    .ps-block--category-2 .ps-block__content {
        padding: 0;
    }

    .ps-product__thumbnail {
        min-height: 50px;
        height: 50%;
        max-width: 80px;
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 0 auto;

        a {
            margin: 0 auto;
        }
    }

    .card-narx-box {
        text-align: center;
        font-size: 12px;

        a {
            margin: 0 auto;
        }
    }

    .mahsulotingiz {
        position: fixed;
        right: 6%;
        bottom: 20%;
        transform: translateX(-6%);
        transform: translateY(-20%);
        // left: 50%;
        // transform: translate(100%, 180%);
        display: block;
    }

    .mahsulotingizElh3 {
        margin-top: 7rem;
    }

    .cardResponsive {
        display: none;
    }

    .offcanvas-header {
        margin-top: 4rem;
    }

    .elh3 {
        font-size: 18px;
    }
}

@media screen and (max-width: 520px) {
    .banner-placholder {
        display: flex;
        flex-direction: row;
        gap: 10px;

        #banner-placholder-item {
            width: 220px;
            height: 100px;
            display: flex;
            justify-content: center;
            align-items: center;
        }
    }
}

@media screen and (max-width: 494px) {
    .banner-right {
        display: flex;
        flex-direction: row !important;

        .ps-collection {
            display: block;

            img {
                width: 100%;
                min-width: 107px;
                object-fit: cover;
            }

            div {
                height: 93px !important;
            }
        }
    }

    .banner-left-one {
        height: min-content;

        a {
            width: 100%;

            img {
                width: 100%;
                max-height: 164px;
            }
        }
    }

    .ps-product__thumbnail {
        min-height: 80px;
        height: 50%;
        max-width: 60px;
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 0 auto;

        a {
            margin: 0 auto;
        }
    }

    .ps-product__container {
        min-width: 130px;
        max-width: 113px;
        margin: 0 auto;
        text-align: center;
    }

    // .ps-product-list {
    //     .ps-section__content {
    //         padding-top: 25px;
    //     }
    // }

    .carosusel-cards {
        flex-wrap: wrap !important;
    }

    // .home-car{
    //     padding: 15px 0;
    //     min-width: 170px;
    //     max-width: 170px;
    // }

    .ps-product__actions {
        a {
            display: flex !important;
            justify-content: center !important;
        }
    }
}

@media screen and (max-width: 477px) {
    .ps-section__righ {
        justify-content: center;
    }

    .banner-placholder {
        display: flex;
        flex-direction: row;
        gap: 10px;

        #banner-placholder-item {
            width: 200px;
            height: 100px;
            display: flex;
            justify-content: center;
            align-items: center;
        }
    }
}

@media screen and (max-width: 441px) {
    .ps-section__righ {
        justify-content: center;
    }

    .banner-placholder {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        gap: 10px;

        #banner-placholder-item {
            width: 150px;
            height: 100px;
            display: flex;
            justify-content: center;
            align-items: center;
        }
    }

    .ps-form--account .ps-tab-list li.active a {
        font-size: 22px !important;
    }

    .ps-form--account .ps-tab-list li a {
        font-size: 17px !important;
    }
}

@media screen and (max-width: 425px) {
    .ps-product__container {
        min-width: 185px;
    }
}

@media screen and (max-width: 404px) {
    .ps-product__container {
        min-width: 175px;
    }
}

@media screen and (max-width: 384px) {
    .ps-product__container {
        min-width: 160px;
    }
}

@media screen and (max-width: 370px) {

    // .home-card{
    //     max-width: 160px;
    //     min-width: 160px;
    // }
    .resInput {
        padding: 0 10px;
    }

    .ps-product-list {
        .ps-section__header {
            h3 {
                padding-bottom: 0;
                font-size: 16px;
            }
        }

        .ps-section__links {
            li {
                a {
                    font-size: 13px;
                }
            }
        }
    }
}

@media screen and (max-width: 353px) {
    .ps-product__thumbnail {
        margin: 0 auto;
    }

    .ps-product__container {
        min-width: 140px;
        width: 100%;
    }

    .ps-product {
        min-width: 150px;
    }
}

@media screen and (max-width: 330px) {
    .ps-product__thumbnail {
        margin: 0 auto;
    }

    .ps-product__container {
        min-width: 120px;
        width: 100%;
    }

    .ps-product {
        min-width: 140px;
    }

    .yaxshi-categoriyalar {
        .yaxshi-categoriyalar-image {
            height: 75px;
        }
    }

    .ps-block--shopping-total {
        .ps-block__product {
            .ps-block__estimate a {
                font-size: 11px;
            }
        }
    }

    .ps-form--account .ps-tab-list li.active a {
        font-size: 20px !important;
    }

    .ps-form--account .ps-tab-list li a {
        font-size: 15px !important;
    }
}

* {
    scrollbar-width: thin;
    scrollbar-color: $color-1st #f1f1f1;
}

*::-webkit-scrollbar {
    display: flex;
    width: 5px;
    height: 3px;
}

*::-webkit-scrollbar-thumb {
    background: $color-1st;
}

*::-webkit-scrollbar-track {
    background: #dadbe1;
}

#Card {
    height: 183px;
    width: 300px;
}

#Card2 {
    position: relative;
    height: 183px;
    width: 415px;
}

.BackImg {
    background-image: url('../../public/static/CardCredit/humoca.gif');
    background-size: 100%;
    background-position: center;
    border-radius: 10px;
}

.BackImg4 {
    background-image: url('../../public/static/CardCredit/moster.gif');
    background-size: 100%;
    background-position: center;
    border-radius: 10px;
}

.BackImg3 {
    background-image: url('../../public/static/CardCredit/ei-flex-elite-550x347.png');
    background-size: 100%;
    background-position: center;
    border-radius: 10px;
}

.BackImg1 {
    background-image: url('../../public/static/CardCredit/defaukt6.jpg');
    background-size: 100%;
    border-radius: 10px;
}

.BackImg2 {
    background-image: url('../../public/static/CardCredit/Uzcard.jpg');
    background-size: 100%;
    background-position: center;
    border-radius: 10px;
}

.cardText {
    font-family: monospace;
    color: #bcb4b4;
    font-size: 17px;
}

.cardColorHumo {
    color: #f1f1f1;
}

.add-product-user-image {
    input {
        opacity: 0;
    }
}

.modalBanner {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 99999;
    animation: modalOpenOrqafon 0.5s ease-in-out forwards;
    animation-delay: 1s;
    opacity: 0;
}

.modalBanner2 {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 0;
    background-color: rgba(0, 0, 0, 0.8);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 99999;
    animation: modalCloseOrqaFon 1s ease-in-out forwards;
}

.bannerModal2 {
    position: fixed;
    top: 10%;
    left: 50% !important;
    transform: translateX(-50%) !important;
    z-index: 99999;
    opacity: 0;
    height: 100%;
    animation: modalOpen 0.5s ease-in-out both;
    animation-delay: 1s;
    padding-bottom: 100%;
    height: 200px;
}

.bannerModal3 {
    animation: modalClose 1s ease-in-out forwards;
    position: fixed;
    top: 15%;
    left: -100%;
    z-index: 99999;
    height: 100%;
}

.iframe-container {
    position: relative;
    padding-bottom: 57.25%;
    /* 16:9 nisbatiga mos keladigan qadriyat (9 / 16 * 100%) */
    height: 0;
    overflow: hidden;
}

.iframe-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

@keyframes modalClose {
    from {
        transform: translateY(0);
        opacity: 1;
    }

    to {
        transform: translateY(-620px);
        opacity: 0;
    }
}

@keyframes modalCloseOrqaFon {
    from {
        opacity: 1;
    }

    to {
        opacity: 0;
    }
}

@keyframes modalOpen {
    from {
        transform: translateY(-220px);
        opacity: 0;
    }

    to {
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes modalOpenOrqafon {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

// Vedio tutorial uchun carousel modal

.click-b {
    max-width: 450px;
    width: 100%;
}

.modalBannerCarousel {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 99999;
    animation: modalOpenOrqafonCarousel 0.5s ease-in-out forwards;
    animation-delay: 1s;
    opacity: 0;
}

.modalBanner2Carousel {
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    height: 0;
    background-color: rgba(0, 0, 0, 0.8);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 99999;
    animation: modalCloseOrqaFon 1s ease-in-out forwards;

    .iframe-containerCarousel {
        border: 0px solid #022335;
    }
}

.bannerModal2Carousel {
    position: fixed;
    top: 32%;
    left: 66%;
    z-index: 99999;
    opacity: 0;
    // height: 300px;
    animation: modalOpen 0.5s ease-in-out both;
    animation-delay: 1s;
    max-width: 400px;
    width: 101%;
}

.bannerModal3Carousel {
    animation: modalClose 1s ease-in-out forwards;
    position: fixed;
    top: 15%;
    right: 0;
    z-index: 99999;
    height: 100%;
}

.iframe-containerCarousel {
    position: relative;
    padding-bottom: 57.25%;
    /* 16:9 nisbatiga mos keladigan qadriyat (9 / 16 * 100%) */
    height: 268px;
    overflow: hidden;
    border: 3px solid #022335;
}

.swiper-button-next {
    color: $color-1st !important;
}

.swiper-button-prev {
    color: $color-1st !important;
}

.swiper-pagination-bullet .swiper-pagination-bullet-active {
    color: $color-1st;
}

.iframe-containerCarousel iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

@keyframes modalClose {
    from {
        transform: translateY(0);
        opacity: 1;
    }

    to {
        transform: translateY(-620px);
        opacity: 0;
    }
}

@keyframes modalCloseOrqaFon {
    from {
        opacity: 1;
    }

    to {
        opacity: 0;
    }
}

@keyframes modalOpen {
    from {
        transform: translateY(-220px);
        opacity: 0;
    }

    to {
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes modalOpenOrqafon {
    from {
        opacity: 0;
    }

    to {
        opacity: 0.3;
    }
}

@keyframes modalOpenOrqafonCarousel {
    from {
        opacity: 0;
    }

    to {
        opacity: 0;
    }
}

.modal-vedio-tutorial_container-carousel {
    height: 200px;
    width: 400px;
    object-fit: contain;
}

.modal-carousel-header {
    background-color: #022335;
    text-align: center !important;
    padding: 7px 0;

    p {
        color: #fff !important;
        padding: 0;
        margin: 0;
        font-size: 13px;
    }

    h3 {
        color: #fff;
        padding: 0;
        margin: 0;
        font-size: 18px;
        padding-bottom: 7px;
    }
}

.modal-dating {
    height: 500px;
    overflow-y: scroll;
}

.colCard2 {
    position: absolute;
    top: 71%;
}

.colCard {
    position: absolute;
    top: 45%;
}

@media (min-width: 1500px) and (max-width: 2000px) {
    .colCard {
        position: absolute;
        top: 64%;
    }

    .bannerModal2Carousel {
        top: 25%;
        left: 64%;
        max-width: 400px;
    }
}

@media (min-width: 1300px) and (max-width: 1500px) {
    .colCard {
        position: absolute;
        top: 64%;
    }

    .bannerModal2 {
        position: fixed;
        top: 20%;
        left: 18%;
    }

    .bannerModal3 {
        position: fixed;
        top: 20%;
        left: -200%;
    }
}

@media (min-width: 1200px) and (max-width: 1300px) {
    .colCard {
        top: 70%;
    }

    .bannerModal2 {
        position: fixed;
        top: 20%;
        left: 15%;
    }

    .bannerModal3 {
        position: fixed;
        top: -100%;
        left: 15%;
    }
}

@media (min-width: 1000px) and (max-width: 1200px) {
    .bannerModal2 {
        position: fixed;
        top: 20%;
        left: 15%;
    }

    .bannerModal3 {
        position: fixed;
        top: 20%;
        left: -100%;
    }

    .colCard {
        position: absolute;
        top: 52%;
    }
}

@include media('<lg') {
    .bannerModal2 {
        padding-bottom: 100%;
        /* Mobil responsive uchun moslashuvchan qilamiz */
        position: fixed;
        top: 30%;
        left: 15%;
        width: 75%;
        max-width: 860px;
    }

    .bannerModal3 {
        position: fixed;
        top: -30%;
        left: -100%;
        width: 75%;
        max-width: 860px;
    }

    .bannerModal2Carousel {
        top: 32%;
        left: 50%;
        // height: 300px;
        max-width: 400px;
    }
}

@include media('>lg') {
    .bannerModal2 {
        position: fixed;
        top: 20%;
        left: 22%;
    }

    .bannerModal3 {
        position: fixed;
        z-index: 99999;
        position: fixed;
        top: 20%;
        height: 0;
        overflow: hidden;
        width: 100%;
        left: -100%;
        max-width: 860px;
    }
}



@media (max-width: 900px) {
    .bannerModal2Carousel {
        top: 25%;
        left: 25%;
        // height: 300px;
        max-width: 400px;
    }
}

@media (min-width: 860px) {
    .bannerModal2 {
        padding-bottom: 100%;
        position: fixed;
        top: 30%;
    }

    .bannerModal3 {
        position: fixed;
        top: 30%;
    }

    .colCard {
        position: absolute;
        top: 43%;
    }

    .bannerModal2 {
        // padding-bottom: 100%;
        position: fixed;
        top: 19%;
        left: 18%;
        width: 75%;
        max-width: 860px;
        height: 0 !important;
    }

    .bannerModal3 {
        position: fixed;
        top: 30%;
        left: -100%;
        width: 75%;
        max-width: 860px;
    }
}


@media (min-width: 859px) {
    .colCard {
        top: 43%;
    }
}

@media screen and (max-width: 768px) {
    .tolov-usullari {
        margin-top: 30px !important;
    }
}

@media (max-width: 598px) {
    .bannerModal2Carousel {
        top: 25%;
        left: 15%;
        max-width: 400px;
    }
}

@media (max-width: 526px) {
    .bannerModal2Carousel {
        top: 25%;
        left: 12%;
        max-width: 400px;
    }
}

@media (max-width: 500px) {
    .bannerModal2Carousel {
        top: 25%;
        left: 18%;
        max-width: 300px;
    }

    .modal-carousel-header {
        background-color: #022335;
        text-align: center !important;
        padding: 7px 0;

        p {
            color: #fff !important;
            padding: 0;
            margin: 0;
            font-size: 11px;
        }

        h3 {
            color: #fff;
            padding: 0;
            margin: 0;
            font-size: 15px;
            padding-bottom: 7px;
        }
    }

    .iframe-containerCarousel {
        height: 260px;
    }

    .closeButton {
        position: 'absolute';
        right: 0;
        top: ' -9px';
        z-index: 1;
    }

    .bannerModal2Carousel {
        top: 25%;
        left: 14%;
        max-width: 300px;
    }

    .colCard2 {
        position: absolute;
        top: 81%;
    }
}

@media (min-width: 400px) and (max-width: 500px) {
    .colCard {
        position: absolute;
        top: 45%;
    }

    .bannerModal2 {
        padding-bottom: 100%;
        position: fixed;
        left: 0;
    }

    .bannerModal3 {
        position: fixed;
        left: -100%;
    }

    .iframe-container {
        position: relative;
        padding-bottom: 75%;
        height: 300px;
        overflow: hidden;
        width: 450px;
    }

    .iframe-container iframe {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }

    .closeButton {
        right: 0;
        top: ' -9px';
    }

    .click-b {
        max-width: 400px;
        width: 100%;
    }

    #Card2 {
        height: 183px;
        max-width: 400px;
        width: 100%;
    }
}

@media (max-width: 400px) {
    .colCard {
        position: absolute;
        top: 45%;
    }

    .bannerModal2 {
        padding-bottom: 100%;
        position: fixed;
        left: 0;
    }

    .bannerModal3 {
        position: fixed;
        left: -100%;
    }

    .iframe-container {
        position: relative;
        padding-bottom: 75%;
        /* 16:9 nisbatiga mos keladigan qadriyat (9 / 16 * 100%) */
        height: 300px;
        overflow: hidden;
        width: 390px;
    }

    .iframe-container iframe {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }

    .closeButton {
        right: 0;
        top: ' -9px';
    }

    .click-b {
        max-width: 300px;
        width: 100%;
    }

    #Card2 {
        height: 183px;
        max-width: 300px;
        width: 100%;
    }
}



@media (max-width: 395px) {
    .bannerModal2Carousel {
        top: 25%;
        left: 10%;
        max-width: 300px;
    }
}

@media (max-width: 360px) {
    .bannerModal2Carousel {
        top: 25%;
        left: 3%;
        max-width: 300px;
    }

    .closeButton {
        right: 0;
        top: ' -9px';
    }
}

@media only screen and (max-width: 768px) {
    .dashboard-div {
        display: none;
    }
}



.selected-img {

    span {
        background-color: rgba(255, 255, 255, 0.7);
        display: block;
        width: 80px;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
    }
}

.user_profile_container {
    width: 100%;
    border-radius: 10px;

    .user_profile_card {
        width: 100%;
        background-position: center center;
        background-size: cover;
        background-repeat: no-repeat;
        padding: 20px 20px 20px 40px;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
        height: 200px;
        position: relative;


        .profile_images_card {
            position: absolute;
            bottom: -25%;

            .ant-image {
                width: 162px !important;
                height: 162px !important;
                border-radius: 50% !important;
            }

            .ant-image-img {
                width: 162px !important;
                height: 162px !important;
                border-radius: 50% !important;
                border: 4px solid white;
            }

            .ant-image-mask {
                width: 162px !important;
                height: 162px !important;
                border-radius: 50% !important;
                border: 4px solid white;
            }
        }

        .image_icon {
            position: absolute;
            right: 20px;
            width: 30px;
            height: 30px;
            border-radius: 50%;
            background-color: #fff;
            display: flex;
            align-items: center;
            justify-content: center;
            cursor: pointer;

            i {
                color: #06c;
            }
        }

        // .edit_icon {
        //     position: absolute;
        //     right: 20px;
        //     bottom: -40px;
        //     z-index: 99;
        // }

    }

    .user_profile_body {
        width: 100%;
        background-color: #fff;
        padding: 20px 20px 20px 20px;



        h1 {
            font-size: 22px;
            font-family: sans-serif;
            font-weight: 600;
            margin: 0;
            padding-top: 40px;
        }

        p {
            margin: 0;
        }
    }
}

@media (max-width:500px) {
    .user_profile_container {
        .user_profile_card {
            padding: 0;

            .profile_images_card {
                left: 50%;
                transform: translateX(-50%);

                .ant-image-img {
                    width: 142px !important;
                    height: 142px !important;
                    border-radius: 50% !important;
                }

                .ant-image-mask {
                    width: 142px !important;
                    height: 142px !important;
                    border-radius: 50% !important;
                }
            }
        }

        .user_profile_body {

            h1,
            p {
                text-align: center;
            }
        }
    }
}